.calculator-know {
  padding: 40px 0 0;
  @include media($TABLET) {
    padding: 0;
  }
  @include media($DESKTOP) {
    padding: 36px 0;
  }
  &__title {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 20px;
    @include media($TABLET) {
      font-size: 40px;
      margin-bottom: 30px;
      line-height: 48px;
    }
  }
  &-list {
    &__item {
      margin-bottom: 30px;
      padding-left: 40px;
      position: relative;
      line-height: 1.8;
      font-size: 18px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 7px;
        width: 20px;
        height: 20px;
        background: url('../img/calc-check.svg') no-repeat;
        background-size: contain;
      }
    }
  }
}
