section.calculator
  .container.container--1120
    h2.hidden Calculator
    .calculator-wrapper
      .calculator-fields
        .calculator-fields-single.calculator-fields__item
          label.calculator-fields-label(for="sp") Single payment
          .calculator-fields-value.addwarn
            span £
            input#sp(type="number" min="1" placeholder="200")
        .calculator-fields-regular.calculator-fields__item
          label.calculator-fields-label(for="rp") Regular payment
          label.calculator-fields-regular-frequency
            span.calculator-fields-regular-frequency__value.active monthly
            span.calculator-fields-regular-frequency__btn
            input#frequency(type="checkbox")
            span.calculator-fields-regular-frequency__value annually
          .calculator-fields-value.calculator-fields-regular__value
            span £
            input#rp(type="number" min="1" placeholder="200")
        .calculator-fields-yty.calculator-fields__item
          label.calculator-fields-label(for="yty") Year-to-year potfolio growth
          button.calculator-fields-yty__btn ?
          .calculator-fields-yty__tooltip
            p It is anticipated growth. The default setting is 5%. it's neither an average nor recommended value. We can't predict investment returns higher or lower than this. If you want to see how another level of investment return could affect what you get back, change the expected rate.
          .calculator-fields-range
            input.calculator-fields-range__input#yty(type="range" min="1" max="10" value="5")
            ul.calculator-fields-range-values
              li#ytyValue 5%
              li 10%
        .calculator-fields-noy.calculator-fields__item
          label.calculator-fields-label(for="noy") Number of years
          .calculator-fields-range
            input.calculator-fields-range__input#noy(type="range" min="1" max="20" value="5")
            ul.calculator-fields-range-values
              li#noyValue 5
              li 20
        button.calculator-fields__btn.btn-primary Calculate
      .calculator-chart
        span.calculator-chart__title Investment growth over time&nbsp;&nbsp; 
          span.calculator-chart__title_value £13,925
        #calculatorChart
    ul.calculator-results
      li.calculator-results__item.calculator-results-item-small
        .calculator-results-item-small-top.calculator-results-item-small-top_two_title
          .calculator-results-item-small-top__left
            span.calculator-results-item-small-top__title Existing ISA investments:&nbsp;
            span.calculator-results-item-small-top__value £
              span#existingIsa 0.00
          .calculator-results-item-small-top__right
            span.calculator-results-item-small-top__title New ISA investments:&nbsp;
            span.calculator-results-item-small-top__value £
              span#newIsa 13,925
        p.calculator-results-item-small__bottom Based on any single and/or regular payments you've selected
      li.calculator-results__item.calculator-results-item-small
        .calculator-results-item-small-top
          span.calculator-results-item-small-top__title Investment growth:&nbsp;
          span.calculator-results-item-small-top__value £
            span#growthIsa 2,124
        p.calculator-results-item-small__bottom Based on&nbsp;
          b N%&nbsp;
          | expected growth rate you've selected
      li.calculator-results__item.calculator-results-item-small
        .calculator-results-item-small-top
          span.calculator-results-item-small-top__title Your possible ISA tax return:&nbsp;
          span.calculator-results-item-small-top__value £
            span#taxReturn 11,800
        p.calculator-results-item-small__bottom Based on&nbsp;
          b N%&nbsp;
          | expected growth rate you've selected
      li.calculator-results__item.calculator-results-item-big
        span.calculator-results-item-big__title About ISA Calculator
        p.calculator-results-item-big__text This calculator shows charges 0.75%/year. We used the growth rate as selected. This can vary from 0%  to 10%. It depends on your fund selections and your expected rate of return.

        p.calculator-results-item-big__text Inflation is not considered in this calculator, hence the figures are shown in absolute terms and reflect the monetary value of the investment at the end of your chosen term. Note that the figures don’t show today’s value.
        p.calculator-results-item-big__text Actual charges may be higher or lower than these and will depend on the investments chosen. The growth rate shown is just an example actual growth rates will depend on how investments perform. Please choose the rate that fits your investment choices best.
      li.calculator-results__item.calculator-results-item-transparent
        span.calculator-results-item-transparent__title What's next?
        p.calculator-results-item-transparent__text It's important to shop around to get a deal that you're comfortable with. If you decide the Orca Stocks &amp; Shares ISA suits you, it's easy to apply. Find out more now:
      li.calculator-results__item.calculator-results-item-link
        a.calculator-results-item-link__link(href="") Learn about Orca Stocks &amp; Shares ISA
          +icon('calc-arrow')



