section.calculator-wondering
  .container.container--1120
    h2.calculator-wondering__title You may be wondering…
    ul.calculator-wondering-list
      li.calculator-wondering-list-item
        img.calculator-wondering-list-item__img(src="img/thinking-face.png", alt="")
        span.calculator-wondering-list-item__title
          span.calculator-wondering-list-item__title_main How much&nbsp;
          | do I need to invest to reach my goal?
        p.calculator-wondering-list-item__text That’s exactly the kind of question our ISA calculator could help you with. To get an approximation, put in the amount you plan on contributing each month or year, be it single or regular. And then use sliders to set up your expectations.
      li.calculator-wondering-list-item
        img.calculator-wondering-list-item__img(src="img/glasses-face.png", alt="")
        span.calculator-wondering-list-item__title Click&nbsp;
          span.calculator-wondering-list-item__title_main “Calculate”&nbsp;
          | and you’ll see
        p.calculator-wondering-list-item__text The expected investment growth projected over the next N years. The chart will give you an idea of the time it will take to reach your goal under the conditions you set. You can then play around with input values to finetune your investment strategy.
      li.calculator-wondering-list-item
        img.calculator-wondering-list-item__img(src="img/satisfied-face.png", alt="")
        span.calculator-wondering-list-item__title
          span.calculator-wondering-list-item__title_main Why choose Orca&nbsp;
          | for your Stocks and Shares ISA?
        p.calculator-wondering-list-item__text The Orca app lets you open an ISA account in a couple of taps and 100% free. You can transfer your existing ISA to Orca or start from scratch and enjoy your tax-efficient investments with NO management or maintenance charges.


