section.calculator-first
  .container.container--1120
    .calculator-first-content
      h1.calculator-first-content__title Make the most tax&#8209;efficient choice for your savings and invest&shy;ments&nbsp;—
      span.calculator-first-content__subtitle open a free Stocks and Shares ISA with Orca&nbsp;—
      p.calculator-first-content__text
        span.calculator-first-content__text_main the best investment app for beginners!&nbsp;
        | You can invest up to £20,000 into the ISA annually and pay no taxes on the returns you receive from it. Play around with our handy ISA calculator to get an idea of how your investment could grow over time.
    .calculator-first-img
      img(src="img/calculator-phone.png", alt="")



