section.calculator-know
  .container.container--1120
    h2.calculator-know__title What you need to know
    ul.calculator-know-list
      li.calculator-know-list__item This ISA calculator is just an example and it doesn’t show what your investments will actually be worth. The figures produced are based on a number of assumptions  and are only illustrative.
      li.calculator-know-list__item The calculator puts together a projected long-term return for an averaged portfolio of investments (incl. Stocks, bonds, ETFs and other securities) across a range of possible outcomes. The projections can be calculated for up to 20 years into the future.
      li.calculator-know-list__item The projected value of the ISA represents the value of the input data only and shows approximate numbers. This calculator doesn’t provide strategy insights and recommendations. 
