section.seo-third 
  .container 
    h2.page-seo__title You retain 
      span.page-seo__title_main all the benefits of an ISA 
      | with the added convenience of a cutting-edge investment app
    ul.seo-third-list
      li.seo-third-list-item
        span.page-seo__subtitle Stock Collections
        p.seo-third-list-item__text Assets are carefully curated  by profitability, risk level, industry or theme.
      li.seo-third-list-item
        span.page-seo__subtitle Real-time market data
        p.seo-third-list-item__text Never miss a bit of news that could potentially affect your investments.
      li.seo-third-list-item
        span.page-seo__subtitle Analytics
        p.seo-third-list-item__text Get in-depth insights on your investments and build your own market forecast.
      li.seo-third-list-item
        span.page-seo__subtitle Essential Tools
        p.seo-third-list-item__text Get more control over your investments with a Trailing Stop and Pending Orders.
      li.seo-third-list-item
        span.page-seo__subtitle No Hidden Fees
        p.seo-third-list-item__text There are no subscriptions or paid features. All of Orca is free to use, forever. 
      li.seo-third-list-item
        span.page-seo__subtitle 24/7 Support
        p.seo-third-list-item__text No scripts, no canned responses, no emails. Talk to a human who cares. 
