section.seo-second
  .container 
    h2.page-seo__title Why transfer your stocks and shares ISA to Orca?
    ul.seo-second-list 
      li.seo-second-list-item
        span.page-seo__subtitle It’s 
          span.page-seo__subtitle_main free
        p.seo-second-list-item__text Opening and holding an ISA with Orca is completely free of charge. 
      li.seo-second-list-item
        span.page-seo__subtitle It’s 
          span.page-seo__subtitle_main quick 
        p.seo-second-list-item__text You can open an ISA with just a couple of taps within the app. 
      li.seo-second-list-item
        span.page-seo__subtitle It’s 
          span.page-seo__subtitle_main easy
        p.seo-second-list-item__text Simply place a request for transfer and we’ll handle the rest.