section.seo-faq 
  .container 
    h2.page-seo__title ISA Switch FAQ 
    p.seo-faq__text Here are the most common questions we receive about ISA transfer rules.
    ul.faq-list
      li.faq-list-item
        .faq-list-item-top 
          button.faq-list-item__btn open
          h3.faq-list-item__title Can I transfer my cash ISA to an Orca stocks and shares ISA?
        p.faq-list-item__description Sure you can. If your cash ISA is currently with another provider, you can open a Stocks and Shares ISA with Orca for FREE and request a transfer to your new ISA. Once the transfer of funds is complete and you have it on your Orca balance, you can use it to compile a stocks and shares portfolio.
      li.faq-list-item
        .faq-list-item-top 
          button.faq-list-item__btn open
          h3.faq-list-item__title Can I transfer a stocks ISA to a cash ISA with Orca?
        p.faq-list-item__description Unfortunately, Orca does not offer cash ISAs at this time. You can, however, transfer your stocks to a free Stocks and Shares ISA with Orca.
      li.faq-list-item
        .faq-list-item-top 
          button.faq-list-item__btn open
          h3.faq-list-item__title Can I move existing shares from my ISA into an Orca ISA?
        p.faq-list-item__description Absolutely! You can transfer up to £20,000 worth of shares to a free Stocks and Shares ISA with Orca. To do so, you need to request a transfer form via the Orca App or get one by contacting us at hello@getorca.app.  
      li.faq-list-item
        .faq-list-item-top 
          button.faq-list-item__btn open
          h3.faq-list-item__title Can you transfer my stocks and shares ISA to another provider?
        p.faq-list-item__description Sure. With Orca you are not bound by an annual contract or subscription and you can withdraw or move your investments any time free of charge.  
      li.faq-list-item
        .faq-list-item-top 
          button.faq-list-item__btn open
          h3.faq-list-item__title What do you actually do to transfer shares between ISAs?
        .faq-list-item__description 
          p Whenever a client initiates a transfer, we forward that request to their current provider to obtain a valuation of their assets. We then evaluate which of those assets can and cannot be held. In those rare instances when individual assets can’t be held with Orca, we contact the client to offer alternatives. 
          p If the transfer requires a sale, relevant instructions are provided, while for stocks transferred in-specie (as is) only trade and settlement dates are requested. On the day of the trade the two brokers put out matching messages into the market, and then the shares are thereby transferred. Clients are then provided with appropriate settlement documents.
      li.faq-list-item
        .faq-list-item-top 
          button.faq-list-item__btn open
          h3.faq-list-item__title How long does an ISA  transfer usually take?
        p.faq-list-item__description The time it takes to complete a transfer depends on factors like broker office hours, communication between brokers, as well as how quickly the client can give their confirmation. But generally speaking, it takes up to 4 weeks to complete a transfer. 
      li.faq-list-item
        .faq-list-item-top 
          button.faq-list-item__btn open
          h3.faq-list-item__title Are there any transfer fees involved when moving ISAs?
        p.faq-list-item__description Opening an ISA with Orca is completely free and we do not charge you for the transfer. However,  if you’re planning to move your ISA to Orca from another provider, we do recommend that you first check in with them about corresponding fees on their part.