section.seo-banner 
  .container 
    h2.page-seo__title How to 
      span.page-seo__title_main transfer 
      | your ISA
    ul.seo-banner-list
      li.seo-banner-list-item 1. Download Orca and open a free ISA in 3 taps  
      li.seo-banner-list-item 2. Fill out the Transfer Request Form on the app
      li.seo-banner-list-item 3. We’ll arrange the switch and get back to you when it’s done
    ul.page-seo-links
      li
        a(href="#")
          img(src="img/AppStoreBadge.png", alt="AppStore") 
      li
        a(href="#")
          img(src="img/GoogleStoreBadge.png", alt="Google Play") 
    img.seo-banner__img(src="/img/banner.png", alt="How to transfer your ISA") 