include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-calculator
    include ../components/global/headerLogo
    //main
    main
      include ../pages/calculator/calculator-first
      include ../pages/calculator/calculator

    //- include ../components/global/footer
    include ../components/global/scripts
