include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-collections
    include ../components/global/headerLogo
    //main
    main
      include ../pages/collections/collections-first
      include ../pages/collections/collections-new
      include ../pages/collections/invest-ideas
      include ../pages/collections/collections
      include ../pages/collections/collections-choise
      include ../pages/collections/collections-form
      include ../pages/collections/collections-bottom
    //- include ../components/global/footer
    include ../components/global/scripts
    a.getapp__btn.getapp__apple.is-visible
      div
        +icon('apple')
        span Download Orca App Now
