include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-collections
    include ../components/global/headerLogo
    //main
    main
      include ../pages/collections/collections-first
      include ../pages/collections/invest-ideas
    //- include ../components/global/footer
    include ../components/global/scripts
