include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.comiccon-page
    //main
    main
      include ../pages/comiccon/comiccon-first
      include ../pages/comiccon/comiccon-form
      include ../pages/comiccon/comiccon-second
      include ../pages/comiccon/comiccon-footer
    include ../components/global/scripts