include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-help-centre
    include ../components/global/header
    //main
    main
      include ../pages/faq/faq-search
      include ../pages/faq/faq
    include ../components/global/footer
    include ../components/global/scripts
    script(src='js/front.js')