include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-gia
    include ../components/global/headerLogo
    //main
    main
      include ../pages/gia/gia-first
      include ../pages/gia/gia-why
    a.getapp__btn.getapp__apple.is-visible
      +icon('apple')
      span Download Orca App Now
    include ../components/global/scripts
