include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-isa
    include ../components/global/header
    //main
    main
      include ../pages/isa/intro-isa
      include ../pages/isa/benefit-isa
      include ../pages/isa/advantages-isa
      include ../pages/isa/shares-isa
      include ../pages/isa/form-isa
      include ../pages/isa/security-isa
    include ../components/global/footer
    //- include ../components/modals/pages
    include ../components/global/scripts