include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-main
    include ../pages/main/main-header
    //main
    main
      include ../pages/main/main-first
      include ../pages/main/main-banner-first
      include ../pages/main/main-security
      include ../pages/main/main-banner-second
      include ../pages/main/main-advantages
      include ../pages/main/main-reliability
      include ../pages/main/main-invite
      include ../pages/main/main-reviews
      include ../pages/main/main-form
      include ../pages/main/main-faq
    include ../components/global/scripts
