include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-main
    include ../components/global/headerLogo
    //main
    main
      include ../pages/main/main-first
    include ../components/global/scripts
