include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-main
    include ../components/global/headerLogo
    //main
    main
      include ../pages/main/main-first
      include ../pages/main/main-banner-first
      include ../pages/main/main-banner-second
      include ../pages/main/main-security
      include ../pages/main/main-banner-third
      include ../pages/main/main-banner-fourth
      include ../pages/main/main-advantages
      include ../pages/main/main-reliability
    include ../components/global/scripts
