include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-referral_page
    include ../components/global/header
    //main
    main
      include ../pages/index/1-screen
      include ../pages/index/rewarded
      include ../pages/index/numbers
      include ../pages/index/love
      include ../pages/index/opportunity
    include ../components/global/footer
    //- include ../components/modals/pages
    include ../components/global/scripts