include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.page-seo
    include ../components/global/headerLogo
    //main
    main
      include ../pages/seo/seo-first
      include ../pages/seo/seo-second
      include ../pages/seo/seo-third
      include ../pages/seo/seo-banner
      include ../pages/seo/seo-fourth
      include ../pages/seo/seo-faq
    a.getapp__btn.getapp__apple.is-visible
      div 
        +icon('apple')
        span Download Orca App Now
    include ../components/global/scripts
