include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.us-page
    include ../pages/main/main-header
    //main
    main
      include ../pages/us/us-first
      include ../pages/us/us-better
      include ../pages/us/us-add
      include ../pages/us/us-invest
      include ../pages/us/us-partners
      include ../pages/us/us-advantages
      include ../pages/us/us-reviews
      include ../pages/us/us-account
    include ../components/global/footer
    include ../components/global/scripts
