include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.us-page
    header.header-logo
      .container.container--1120
        a(href="./").header-logo__link
          +icon('black-orca')
    //main
    main
      include ../pages/us/us-first
      include ../pages/us/us-better
      include ../pages/us/us-add
      include ../pages/us/us-invest
    include ../components/global/scripts
