section.faq-search 
  .container 
    form.faq-search-form(action="") 
      h1.faq-search-form__title We are here to help
      .faq-search-form-input-wrapper
        button.faq-search-form-btn
          +icon('faq-search')
        input.faq-search-form-input(type="search" placeholder="Search for help articles")
    ul.faq-search-tags
      li.faq-search-tags-item
        button.faq-search-tags-item__btn What is Orca?
      li.faq-tags-item
        button.faq-search-tags-item__btn Verification
      li.faq-tags-item
        button.faq-search-tags-item__btn Account
      li.faq-tags-item
        button.faq-search-tags-item__btn Investing
      li.faq-tags-item
        button.faq-search-tags-item__btn Payments
      li.faq-tags-item
        button.faq-search-tags-item__btn Giveaway
      li.faq-tags-item
        button.faq-search-tags-item__btn Trouble Shooting
      li.faq-tags-item
        button.faq-search-tags-item__btn ISA
      li.faq-tags-item
        button.faq-search-tags-item__btn GIA


