section.faq 
  .container.container--1120
    ul.faq-breadcrumbs
      li.faq-breadcrumbs__item Help Center
      li.faq-breadcrumbs__item “Free Shares” search results 
    .faq-wrapper      
      ul.faq-list
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
        li.faq-list-item-loading loading
      aside.faq-sidebar
        .faq-sidebar-wrapper
          h3.faq-sidebar__title Categories
          ul.faq-sidebar-list#filter
            li.faq-sidebar-list-item
              a.faq-sidebar-list-item__link.active(href="#" data-value="orca") What is Orca?
            li.faq-sidebar-list-item
              a.faq-sidebar-list-item__link(href="#" data-value="verification") Verification
            li.faq-sidebar-list-item
              a.faq-sidebar-list-item__link(href="#" data-value="account") Account
      button.btn.btn-primary.faq-btn.loading Load More
        span.faq-btn__preload 

.container.container--1120
  .faq-bottom-btn 
    h2.faq-bottom-btn__title Still Have Questions? 
    a(href="mailto:").btn.btn-primary Contact Support

           
        
