section.intro-referral
  .intro-referral_content
    h1.intro-referral_content_title Transform your investing experience
    p.intro-referral_content_description Orca is an all-in-one investment app designed for anyone, regardless of their experience, who wants to invest their savings in stocks and ETFs.       
    .intro-referral_content_action
      a.intro-referral_content_action_btn-store(style="display:none" target="_blank")
          .intro-referral_content_action_btn-store_icon
          .intro-referral_content_action_btn-store_text Download Orca App Now      
      .intro-referral_content_action_text-link
          p.intro-referral_content_action_text-link_title Enter your phone number and get sent a link to download the app
          input.intro-referral_content_action_text-link_input(type="text" pattern="[0–9]")
          .intro-referral_content_action_text-link_btn 
              span.small Sent
              span Text Me a Link
  .intro-referral_image
    .intro-referral_image_inner
      img.intro-referral_image_gifts(src="images/gifts.png" alt="")
      img.intro-referral_image_logotypes(src="images/logotypes.png" alt="")
      img.intro-referral_image_guys(src="images/guys.png" alt="")