.intro-referral  {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 107px;

  @include media($TABLET) {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: row;
  }
  @include media($DESKTOP) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include media($HD) {
    overflow: visible;
    margin-top: 170px;
    padding-bottom: 180px;
  }
  &_content {
    z-index: 2;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media($TABLET) {
      width: 50%;
      flex: 1;
    }
    &_logo {
      flex: 1;
      svg {
        width: 80px;
        height: 43px;

        @include media($TABLET) {
          width: 110px;
          height: 58px;
        }

        @include media($DESKTOP) {
          margin-bottom: 50px;
        }
      }
    }
    &_title {
      max-width: 240px;
      color: #ffffff;
      font-size: 32px;
      line-height: 42px;
      font-weight: 800;
      margin-bottom: 10px;

      @include media($TABLET) {
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
        max-width: 459px;
        margin-top: 30px;
      }

      @include media($DESKTOP) {
        font-size: 60px;
        line-height: 73px;
        letter-spacing: -1px;
      }

      @include media($HD) { 
        margin-top: 0;
      }
    }

    &_description {
      max-width: 350px;
      color: #ffffff;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 16px;

      @include media($TABLET) {
        max-width: 450px;
        line-height: 35px;
        margin-bottom: 30px;
      }

      @include media($DESKTOP) {
        font-size: 20px;
        max-width: 530px;
      }
      .main {
        color: $referral-main;
      }
    }

    &_footnote {
      z-index: 2;
      position: relative;
      width: 230px;
      font-size: 12px;
      line-height: 22px;
      color: rgba(133, 138, 143, .5);

      @include media($TABLET) {
        width: auto;
        flex: 1;
      }
    }
  }

  &_image {
    display: flex;
    position: relative;
    @media(min-width: 768px) {
      z-index: 2;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_inner {
      position: relative;
      width: 100%;
      @include media($TABLET) {
        right: -5%;
        height: 100%;
        top: 0;
      }
      @include media($HD) {
        right: 20px;
        top: -95px;
      }
    }
    img {
      height: 100%;
      width: 100%;
      max-width: 772px;
      object-fit: contain;
      object-position: center;
      @include media($TABLET) {
        left: 0;
        position: absolute;
        left: -2%;
        top: 0;
        display: block;
      }
      @include media($HD) {
        width: 128%;
        height: auto;
      }
    }

    &_gifts {
      z-index: 1;
      display: none;
      @include media($TABLET) {
        display: block;
      }
    }

    &_logotypes {
      z-index: 2;
      display: none;
      @include media($TABLET) {
        display: block;
      }
    }

    &_guys {
      z-index: 2;
      display: none;
      @include media($TABLET) {
        display: block;
      }
    }
    &_guys_mobile {
      @include media($TABLET) {
        display: none !important;
      }
    }
  }
}