.numbers {
  padding-top: 45px;
  @include media($TABLET) {
    padding-top: 87px;
  }
  @include media($DESKTOP) {
    padding-bottom: 100px;
  }
  &__title {
    margin-bottom: 40px;
    font-size: 32px;
    @include media($TABLET) {
      font-size: 40px;
    }
    @include media($DESKTOP) {
      margin-bottom: 60px;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    max-width: 337px;
    margin: 0 auto;
    @include media($TABLET) {
      max-width: 100%;
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      @include media($TABLET) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 255px;
        width: 23%;
      }
      &__title {
        color: $referral-yellow;
        font-weight: 800;
        font-size: 40px;
        line-height: 1.2;
        width: 126px;
        margin-right: 34px;
        @include media($TABLET) {
          width: 100%;
          font-size: 33px;
        }
        @include media($DESKTOP) {
          font-size: 52px;
          margin-bottom: 6px;
        }
        &_small {
          font-weight: 700;
          font-size: 20px;
          display: block;
          @include media($TABLET) {
            display: inline-block;
            margin-right: 5px;
            line-height: 1;
            margin-bottom: 0;
          }
        }
      }
      &__text {
        line-height: 1.6;
        margin: 0;
        width: 53%;
        @include media($TABLET) {
          width: 100%;
          max-width: 196px;
        }
      }
    }
  }
}