.page-referral_page {
  .btn-primary {
    background: linear-gradient(96.32deg, #EE49A0 8.07%, #D747E3 94.97%);
    &:hover {
      background: linear-gradient(96.32deg, darken($color: #EE49A0, $amount: 10) 8.07%, darken($color: #D747E3, $amount: 10) 94.97%);
    }
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    @include media($TABLET) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .referral-subscribe {
    margin: 10px 0;
    display: none;
    @include media($TABLET) {
      display: block;
      width: 100%;
      max-width: none;
    }
    .subscribe__form {
      background: hsl(0, 0%, 8%);
      margin: 0;
      padding: 31px 39px;
      border-radius: 8px;
      @include media($TABLET) {
        width: 100%;
        max-width: none;
      }
    }
  }    
}

.page-referral_page_text_link_success {
  .referral-subscribe {
    margin: 10px 0;
    display: none;
    @include media($TABLET) {
      display: block;
      width: 100%;
      max-width: none;
    }
    .subscribe__form {
      background: hsl(0, 0%, 8%);
      margin: 0;
      padding: 31px 39px;
      border-radius: 8px;
      @include media($TABLET) {
        width: 100%;
        max-width: none;
      }
    }
    .subscribe__box {
      padding: 29px 50px 32px 60px;
    }
  }    
}

$referral-main: #EE49A0;
$referral-yellow: #FFD028;
