section.love 
  .container 
    h2.love__title People love the referral programme
    ul.love-list
      li.love-list-item
        img.love-list-item__img(src="img/emma.png", alt="Emma")
        h3.love-list-item__title Emma
        p.love-list-item__text I run a personal lifestyle blog covering fashion and technology. Many of my followers were thrilled about the idea of investing when I shared my thoughts on Orca.
      li.love-list-item
        img.love-list-item__img(src="img/thomas.png", alt="Thomas")
        h3.love-list-item__title Thomas
        p.love-list-item__text I used my referral link to invite my siblings. We choose to save money smart – we invest in stocks & ETFs. That’s how we do things in my family.
      li.love-list-item
        img.love-list-item__img(src="img/samuel.png", alt="Samuel")
        h3.love-list-item__title Samuel
        p.love-list-item__text My friend shared a referral link to join Orca. I didn't hesitate to take part and now I own a stock worth £128. Easy as cake! 
      