section.love 
  .container 
    h2.love__title People love the referral programme
    ul.love-list
      li.love-list-item
        img.love-list-item__img(src="img/emma.png", alt="Emma")
        h3.love-list-item__title Emma
        p.love-list-item__text This is a brilliant, well thought out investment app. Definitely looks better than any such offerings in UK. The News segment is a useful component but not distracting.
      li.love-list-item
        img.love-list-item__img(src="img/thomas.png", alt="Thomas")
        h3.love-list-item__title Thomas
        p.love-list-item__text Your customer service is very helpful & looking at the layout of the app it would have been a good place to expand my UK portfolio!
      li.love-list-item
        img.love-list-item__img(src="img/samuel.png", alt="Samuel")
        h3.love-list-item__title Samuel
        p.love-list-item__text My friend shared a referral link to join Orca. I didn't hesitate to take part and now I own a stock worth £128. Easy as cake! 
      