section.numbers 
  .container 
    h2.numbers__title The numbers
    ul.numbers-list
      li.numbers-list-item 
        h3.numbers-list-item__title £19k+
        p.numbers-list-item__text in shares given away in 2 months
      li.numbers-list-item 
        h3.numbers-list-item__title 
          span.numbers-list-item__title_small up to 
          | £200
        p.numbers-list-item__text you can get in the stock equivalent
      li.numbers-list-item 
        h3.numbers-list-item__title 2 min
        p.numbers-list-item__text on average you need to register
      li.numbers-list-item 
        h3.numbers-list-item__title
          span.numbers-list-item__title_small every
          | 4th
        p.numbers-list-item__text Orca’s user is a referral cause it’s awesome!