section.opportunity
  .container 
    .opportunity-content
      h2.opportunity-content__title A nice opportunity to figure out the investing world
      p.opportunity-content__text Orca is an app designed for anyone, regardless of their experience. Would you like to try your hand at investing? Then get Orca and share your referral link with your friends.
      .intro-referral_content_action 
        .intro-referral_content_action_text-link
          p.intro-referral_content_action_text-link_title Enter your phone number and get sent a link to download the app
          input.intro-referral_content_action_text-link_input(type="text" pattern="[0–9]")
          .intro-referral_content_action_text-link_btn 
            span.small Sent
            span Text Me a Link
    picture.opportunity-img 
      source(media="(min-width: 768px)", srcset="../img/opportunity-phone-laptop.png")
      img(src="../img/opportunity-phone.png", alt="A nice opportunity to figure out the investing world")
