section.opportunity
  .container 
    .opportunity-content
      h2.opportunity-content__title A nice opportunity to figure out the investing world
      p.opportunity-content__text Orca is an app designed for anyone, regardless of their experience. Would you like to try your hand at investing? Then get Orca and share your referral link with your friends.
      .subscribe.referral-subscribe#subscribe
        .subscribe__form
          .subscribe__form-label Enter your phone number and get sent a link to download the app
          form(action="#" method="post").subscribe__form-box.js-validate-form
            .subscribe__input-placeholder +44
            input(type="tel" placeholder="" name="phone")
            button(type="subscribe").btn.btn-primary Text Me a Link
    picture.opportunity-img 
      source(media="(min-width: 768px)", srcset="../img/opportunity-phone-laptop.png")
      img(src="../img/opportunity-phone.png", alt="A nice opportunity to figure out the investing world")
