section.rewarded
  .container 
    h2.rewarded__title We have rewarded our users with 
      span.rewarded__title_main £19k+ 
      | worth of shares.
    span.rewarded__subtitle Follow 4 simple steps to be the next one to cash in:
  .rewarded-slider-container 
    .rewarded-slider 
      .rewarded-slider-item.swiper-slide
        span.rewarded-slider-item__circle 
        h3.rewarded-slider-item__title Get started
        p.rewarded-slider-item__text Download Orca and open a GIA account just in a few minutes
      .rewarded-slider-item.swiper-slide
        span.rewarded-slider-item__circle 
        h3.rewarded-slider-item__title Get started
        p.rewarded-slider-item__text Download Orca and open a GIA account just in a few minutes
      .rewarded-slider-item.swiper-slide
        span.rewarded-slider-item__circle 
        h3.rewarded-slider-item__title Get started
        p.rewarded-slider-item__text Download Orca and open a GIA account just in a few minutes


      