.collections-list {
  background: linear-gradient(131.59deg, #FFFFFF 8.27%, #F3F3F3 97.77%);
  color: #363636;
  padding: 103px 0;
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
  overflow: hidden;
  @include media($TABLET) {
    clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%);
  }
  @include media($DESKTOP) {
    padding: 172px 0 130px;
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
  }

  &__title {
    font-size: 32px;
    line-height: 1.3;
    max-width: 892px;
    @include media($TABLET) {
      font-size: 48px;
      letter-spacing: -1px;
    }
    @include media($DESKTOP) {
      font-size: 60px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 1.5;
    margin: 14px 0;
    max-width: 559px;
    @include media($TABLET) {
      font-size: 28px;
      line-height: 1.4;
      margin: 30px 0;
    }
  }
}

.collections-slider {
  margin-top: 42px;
  @include media($TABLET) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }
  @include media($HD) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 67px;
    grid-row-gap: 91px;
  }
  &-item {
    text-align: center;
    padding-top: 46px;
    transition-duration: 0.2s;
    overflow: visible;
    @include media($TABLET) {
      opacity: 1;
    }
    &-img {
      width: 85%;
      max-width: 352px;
      margin: 0 auto;
      position: relative;
      z-index: 5;
      transition: transform 0.3s ease;
      cursor: pointer;
      overflow: visible;
      user-select: none;
      @include media($TABLET) {
        max-width: 412px;
        width: 91%;
      }
      @include media($DESKTOP) {
        max-width: 352px;
      }
      &.next-step {
        transform: rotate(0)!important;
      }
      .swipe-box, .tap-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        pointer-events: all;

      }
      .tap-box {
        display: none;
      }
      &__top {
        position: relative;
        bottom: -2px;
        z-index: 10;
        transition-property: opacity, transform;
        transition-delay: 0.2s, 0.2s;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        &.next-step {
          transform: rotate(-12deg) translateY(-20px);
        }
        &.opacity {
          transform: rotate(-15deg) translateY(-80px);
          opacity: 0;
        }
      }
      &__bottom {
        position: relative;
        z-index: 10;
        transition-property: opacity, transform;
        transition-delay: 0.2s;
        transition-duration: 0.5s, 0.3s;
        transition-timing-function: ease;
        &.next-step {
          transform: translateY(5px);
        }
        &.opacity {
          transform:  translateY(100%);
          opacity: 0;
        }
      }
      &__card {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        z-index: 9;
        padding: 0 20px;
        transition: transform 0.3s linear;
        user-select: none;
        @include media($TABLET) {
          padding: 0;
          width: 87%;
        }
        @include media($DESKTOP) {
          padding: 0;
        }
        &.scale {
          transform: scale(1.2);
          &:hover {
            perspective-origin: 50% 50%;
            perspective: 800px;
            image-rendering: crisp-edges;
            @include media($TABLET) {
              transform: scale(1.3);
            }
            @include media($HD) {
              transform: scale(1.4);
            }
          }
        }
        img {
          box-shadow: 0px 0px 34px 0px rgba(34, 60, 80, 0.2);
          will-change: box-shadow;
          z-index: 10;
          width: 100%;
          object-fit: contain;
          transform: rotateX(0deg) rotateY(0deg);
          user-select: none;
        }
      }
      &.show-swipe {
        &:after {
          content: "";
          position: absolute;
          right: -13px;
          top: -71px;
          opacity: 1;
          transition: opacity 0.3s ease;
          background: url('../img/collections-img-after.png') no-repeat;
          width: 124px;
          height: 82px;
          background-size: contain;
          animation: pulse 0.5s infinite;
          @include media($HD) {
            width: 142px;
            height: 94px;
            right: -20px;
          }
        }
        &.opacity-swipe {
          &:after {
            opacity: 0;
            animation: none;
          }
        }
      }
      &.show-tap {
        &:before {
          content: "";
          position: absolute;
          left: -10px;
          top: -81px;
          opacity: 1;
          transition: opacity 0.3s ease;
          background-image: url('../img/collections-img-before.png');
          background-repeat: no-repeat;
          width: 105px;
          height: 69px;
          background-size: contain;
          animation: pulse 0.5s infinite;
          @include media($DESKTOP) {
            background-image: url('../img/collections-img-before-desktop.png');
            left: -68px;
            top: 50%;
            transform: translateY(-50%);
            width: 70px;
            height: 55px;
          }
          @include media($HD) {
            width: 90px;
            height: 76px;
            left: -91px;
          }
        }
        &.opacity-tap {
          &:before {
            animation: none;
            opacity: 0;
          }
        }
      }
      img {
        width: 100%;
      }
    }
    &__content {
      max-width: 286px;
      margin: 50px auto 0;
      transition: opacity 0.2s ease;
      @include media($DESKTOP) {
        margin: 40px auto 0;
      }
      @include media($HD) {
        margin: 80px auto 0;
      }
    }
    &__title {
      font-size: 22px;
      line-height: 1.2;
      font-weight: 700;
      margin: 22px 0;
      display: block;
      @include media($TABLET) {
        font-size: 28px;
        margin-bottom: 17px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 1.7;
      margin: 18px 0;
    }
    &__link {
      display: inline-flex;
      align-items: center;
      line-height: 23px;
      color:#0169C2;
      transition: color 0.2s ease;
      font-size: 18px;
      &:hover {
        color: lighten($color: #0169C2, $amount: 10%);
        .icon {
          stroke: lighten($color: #0169C2, $amount: 10%);
        }
      }
      .icon {
        width: 8px;
        height: 12px;
        margin-left: 8px;
        stroke:#0169C2;
        transition: 0.2s ease;
      }
    }
  }
  &-container {
    position: relative;
    @include media($HD) {
      margin-top: 138px;
    }
    .swipe-box-mobile {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80%;
      max-width: 332px;
      height: 400px;
      z-index: 10;
      cursor: pointer;
      &.tap {
        pointer-events: none;
      }
    }
    .tap-box-mobile {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 332px;
      height: 400px;
      z-index: 11;
      display: none;
      cursor: pointer;
    }
  }
  &-arrows {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    max-width: 396px;
    @include media($TABLET) {
      display: none;
    }
  }
  &-prev, &-next {
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    .icon {
      width: 34px;
      height: 15px;
    }
    &.swiper-button-disabled {
      opacity: 0;
      cursor: none;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

