.page-collections {
  position: relative;
  .btn-primary, .getapp__btn {
    background: black;
    border: 1px solid white;
    height: 48px;
    line-height: 46px;
    &:hover {
      background: transparent;
      border: 1px solid white;
      box-shadow: 0 0 4px 1px white;
    }
  }
  .getapp__btn {
    line-height: 60px;
    height: 60px;
    z-index: 1000;
  }
  .header-main {
    &:before {
      background: transparent;
    }
    &.sticky {
      &:before {
        background: black;
        transition-delay: 0s, 0.1s;
        transition-duration: 0s, 0.2s;
      }
    }
  }
  .collections-form {
    display: none;
    @include media($TABLET) {
      display: block;
      background: url(../img/collections-back-desktop.png) no-repeat;
      background-size: cover;
      background-position: bottom;
      padding: 97px 0 122px;
    }

    &__title {
      text-align: center;
      font-size: 28px;
      max-width: 651px;
      margin: 0 auto;
      line-height: 1.4;
    }
  }

  .collection-subscribe {
    margin: 30px auto 0;
    width: 438px;
    color: white;  .subscribe__form {
      margin: 0;
    }
    .subscribe__form-label {
      color: white;
      line-height: 24px;
    }
    input {
      background: white;
      color: #151515;
    }
    .subscribe__input-placeholder {
      color: #151515;
    }
    .btn-primary {
      color: #151515;
      background: transparent;
      border: 2px solid #000000;
      padding: 0 10px;
    }
    .subscribe__form-box {
      margin-top: 19px;
    }
  }
}
