section.collections-choise
  .container.container--1120
    h2.collections-choise__title Boost your portfolio easily
    .collections-choise__text Analyse and compare the profitability of each collection, check every asset’s performance and make your own choice on what to invest in.
    ul.collections-choise-list
      li.collections-choise-list-item
        span.collections-choise-list-item__title Collection vs Market:
        p.collections-choise-list-item__text Compare a collection’s performance against that of other popular investments
      li.collections-choise-list-item
        span.collections-choise-list-item__title Collection value:
        p.collections-choise-list-item__text Assess the cost of each collection supported
      li.collections-choise-list-item
        span.collections-choise-list-item__title Stats:
        p.collections-choise-list-item__text Check the average dividend yield and annual returns of each collection
