section.collections-form
  .container.container--1120
    h2.collections-form__title The asset universe is vast – but exploring it is easier than you can imagine...
    .subscribe.collection-subscribe#subscribe
      .subscribe__form
        .subscribe__form-label Enter your phone number and get sent a link to download the app
        form(action="#" method="post").subscribe__form-box.js-validate-form
          .subscribe__input-placeholder +44
          input(type="tel" placeholder="" name="phone")
          button(type="subscribe").btn.btn-primary Text Me a Link
