section.collections-list
  .container.container--1120
    h2.collections-list__title Discover the world of investing by finding the things you love
    p.collections-list__text Browse 6 thematic collections and choose the assets that are right for you:
    .collections-slider-container
      .collections-slider.swiper-wrapper
        .collections-slider-item.swiper-slide
          .collections-slider-item-img
            img(src="img/collection.png", alt="collection")
          .collections-slider-item__content
            span.collections-slider-item__title Irish Spirit
            p.collections-slider-item__text This Collection is made up of the main Irish-based market drivers.
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
        .collections-slider-item.swiper-slide
          .collections-slider-item-img
            img(src="img/collection.png", alt="collection")
          .collections-slider-item__content
            span.collections-slider-item__title Irish Spirit
            p.collections-slider-item__text This Collection is made up of the main Irish-based market drivers.
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
        .collections-slider-item.swiper-slide
          .collections-slider-item-img
            img(src="img/collection.png", alt="collection")
          .collections-slider-item__content
            span.collections-slider-item__title Irish Spirit
            p.collections-slider-item__text This Collection is made up of the main Irish-based market drivers.
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
      
