section.collections-first
  .collections-first__content
    h1.collections-first__title Collections
      img(src="/img/collections.png", alt="Collections")
    p.collections-first__text Plenty of choice for the profit potential you need
    .collections-first-links
      span Get the Orca app now
      img(src="img/GooglePlay.png", alt="")
      img(src="img/AppStore.png", alt="")

