section.collections-list
  .container.container--1120
    h2.collections-list__title Discover the world of investing by finding the things you love
    p.collections-list__text Browse 6 thematic collections and choose the assets that are right for you:
    .collections-slider-container
      .collections-slider.swiper-wrapper
        .collections-slider-item.swiper-slide
          .collections-slider-item-img.show-swipe
            .collections-slider-item-img__card
              img(src="img/IrishSpirit.png", alt="Collections Irish Spirit")
            .collections-slider-item-img__top
              img(src="img/collection-top.png", alt="")
            .collections-slider-item-img__bottom
              img(src="img/collection-bottom.png", alt="")
          .collections-slider-item__content
            span.collections-slider-item__title Irish Spirit
            p.collections-slider-item__text This Collection is made up of the main Irish-based market drivers.
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
        .collections-slider-item.swiper-slide
          .collections-slider-item-img
            .collections-slider-item-img__card
              img(src="img/IrishSpirit.png", alt="Collections Irish Spirit")
            .collections-slider-item-img__top
              img(src="img/collection-top.png", alt="")
            .collections-slider-item-img__bottom
              img(src="img/collection-bottom.png", alt="")
          .collections-slider-item__content
            span.collections-slider-item__title Halal
            p.collections-slider-item__text Here you can find companies complying with Shariah.
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
        .collections-slider-item.swiper-slide
          .collections-slider-item-img
            .collections-slider-item-img__card
              img(src="img/IrishSpirit.png", alt="Collections Irish Spirit")
            .collections-slider-item-img__top
              img(src="img/collection-top.png", alt="")
            .collections-slider-item-img__bottom
              img(src="img/collection-bottom.png", alt="")
          .collections-slider-item__content
            span.collections-slider-item__title Women  CEO
            p.collections-slider-item__text For those who want to invest in women-led corporations.
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
        .collections-slider-item.swiper-slide
          .collections-slider-item-img
            .collections-slider-item-img__card
              img(src="img/IrishSpirit.png", alt="Collections Irish Spirit")
            .collections-slider-item-img__top
              img(src="img/collection-top.png", alt="")
            .collections-slider-item-img__bottom
              img(src="img/collection-bottom.png", alt="")
          .collections-slider-item__content
            span.collections-slider-item__title ESG
            p.collections-slider-item__text Stocks for those who want to invest in sustainable economic development.
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
        .collections-slider-item.swiper-slide
          .collections-slider-item-img
            .collections-slider-item-img__card
              img(src="img/IrishSpirit.png", alt="Collections Irish Spirit")
            .collections-slider-item-img__top
              img(src="img/collection-top.png", alt="")
            .collections-slider-item-img__bottom
              img(src="img/collection-bottom.png", alt="")
          .collections-slider-item__content
            span.collections-slider-item__title Healthcare
            p.collections-slider-item__text Investment opportunities in the field of health, medicine, and pharma
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
        .collections-slider-item.swiper-slide
          .collections-slider-item-img
            .collections-slider-item-img__card
              img(src="img/IrishSpirit.png", alt="Collections Irish Spirit")
            .collections-slider-item-img__top
              img(src="img/collection-top.png", alt="")
            .collections-slider-item-img__bottom
              img(src="img/collection-bottom.png", alt="")
          .collections-slider-item__content
            span.collections-slider-item__title 18+
            p.collections-slider-item__text Сorporations connected with products or services aimed at a strictly adult audience.
            a.collections-slider-item__link(href="") Crack on
              +icon('arrow-right')
      .collections-slider-arrows
        .collections-slider-prev
          +icon('prev')
        .collections-slider-next
          +icon('next')
