section.collections-new
  .container
    .collections-new-content
      h2.collections-new__title Introducing new collection!
      p.collections-new__text Unpack this awesome new Orca’s collection and find out what to invest in next!
    .collections-new-item-wrapper
      .collections-new-item.collections-slider-item
        .collections-slider-item-img.show-swipe
          .collections-slider-item-img__card
            img(src="img/irish-spirit.png", alt="Collections Irish Spirit")
          .collections-slider-item-img__top
            img(src="img/collection-top.png", alt="")
          .collections-slider-item-img__bottom
            img(src="img/collection-bottom.png", alt="")
        .collections-slider-item__content
          span.collections-slider-item__title Irish Spirit
          p.collections-slider-item__text This Collection is made up of the main Irish-based market drivers.
          a.collections-slider-item__link(href="") Crack on

