section.invest-ideas
  .container.container--1120
    h2.invest-ideas__title Invest in ideas, not
      br
      | just in random assets
    ul.invest-ideas-list
      li.invest-ideas-list-item
        span.invest-ideas-list-item__title Find the companies deserving your attention
        p.invest-ideas-list-item__text whether you’re looking for local businesses or to tackle global warming.
      li.invest-ideas-list-item
        span.invest-ideas-list-item__title Make your investment work in support
        p.invest-ideas-list-item__text of the communities and enterprises that most interest you.
      li.invest-ideas-list-item
        span.invest-ideas-list-item__title Explore assets by the type of industries
        p.invest-ideas-list-item__text to find the investment opportunities and choose what to invest in now.
