.benefit-isa {
  padding-top: 40px;
  padding-bottom: 20px;
  @include media($TABLET) {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  @include media($DESKTOP) {
    padding-bottom: 120px;
    padding-top: 0;
  }
  &__title {
    text-align: center;
    font-size: 32px;
    line-height: 1.3;
    margin: 30px auto; 
    font-weight: 800;
    max-width: 335px;
    @include media($TABLET) {
      max-width: 603px;
      font-size: 50px;
      letter-spacing: -1px;
    }
    @include media($DESKTOP) {
      font-size: 73px;
      max-width: 890px;
    }
  }
  &-list {
    max-width: 257px;
    margin: 60px auto 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media($TABLET) {
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin: 110px 0 80px;
      align-items: flex-start;
    }
    &-item {
      margin-bottom: 50px;
      text-align: center;
      @include media($TABLET) {
        max-width: 197px;
        margin-bottom: 0;
      }
      @include media($DESKTOP) {
        max-width: 217px;
      }
      &:not(:last-child) {
        max-width: 210px;
      }
      .icon {
        width: 44px;
        height: 44px;
      }
      &__title {
        margin: 20px 0 10px;
        @include media($TABLET) {
          margin: 18px 0 8px;
        }
        @include media($DESKTOP) {
          margin: 20px 0 23px;
        }
      }
      &__text {
        margin: 0 auto;
        opacity: 0.8;
        line-height: 1.6;
        @include media($TABLET) {
          font-size: 14px;
        }
        @include media($DESKTOP) {
          font-size: 16px;
        }
      }
    }
  }
}