section.advantages-isa
  .container 
    .advantages-isa__title Why open an ISA with Orca?
    ul.advantages-isa-list
      li.advantages-isa-list-item
        +icon('checkbox')
        p.advantages-isa-list-item__text
          span.bold Price. 
          | Opening and keeping ISAs is completely free in Orca
      li.advantages-isa-list-item
        +icon('checkbox')
        p.advantages-isa-list-item__text 
          span.bold Time. 
          | While in the app, click ‘ISA’ , agree to the conditions and you’re set
      li.advantages-isa-list-item
        +icon('checkbox')
        p.advantages-isa-list-item__text 
          span.bold FSCS protection. 
          | In case of insolvency, your funds are protected
      li.advantages-isa-list-item
        +icon('checkbox')
        p.advantages-isa-list-item__text 
          span.bold Transparency. 
          | No hidden fees or subscriptions.
      li.advantages-isa-list-item
        +icon('checkbox')
        p.advantages-isa-list-item__text 
          span.bold Education. 
          | You’ll have access to our simply-stated and witty educational articles.
      li.advantages-isa-list-item
        +icon('checkbox')
        p.advantages-isa-list-item__text 
          span.bold Friendly support 24/7.  
          | Resolve your questions quickly and effectively with a real person on the other end.