section.benefit-isa 
  .container 
    h2.benefit-isa__title How do you benefit from stock and shares ISA's?
    ul.benefit-isa-list
      li.benefit-isa-list-item
        +icon('work')
        h3.benefit-isa-list-item__title Easy
        p.benefit-isa-list-item__text It doesn’t take being an experienced investor to open an ISA 
      li.benefit-isa-list-item
        +icon('calendar')
        h3.benefit-isa-list-item__title Start at just £1
        p.benefit-isa-list-item__text No time like the present. Don’t put off your investing ambitions
      li.benefit-isa-list-item
        +icon('wallet')
        h3.benefit-isa-list-item__title Economical
        p.benefit-isa-list-item__text Don't think about taxes or ISA fees, UK residents can contribute up to £20k a year tax-free
