section.benefit-isa 
  .container 
    h2.benefit-isa__title How do you benefit from stock and shares ISA's?
    ul.benefit-isa-list
      li.benefit-isa-list-item
        +icon('calendar')
        h3.benefit-isa-list-item__title Tax friendly
        p.benefit-isa-list-item__text You’re free to contribute up to £20k a year
      li.benefit-isa-list-item
        +icon('wallet')
        h3.benefit-isa-list-item__title Long-term investing
        p.benefit-isa-list-item__text With an ISA, your long-term returns won’t be taxed, unlike with a GIA 
      li.benefit-isa-list-item
        +icon('work')
        h3.benefit-isa-list-item__title Economical
        p.benefit-isa-list-item__text No UK capital gains or income tax included on your investments.
