section.form-isa 
  .container 
    .subscribe.isa-subscribe.form-isa-subscribe#subscribe
      .subscribe__box
        .subscribe__wrapper
          .subscribe__col
            .subscribe__text
              .h4-title Smooth investing starts now. Download Orca app.
              p.p-regular For more info, see our 
                a(href="https://storage.googleapis.com/orca-static/policies/terms_v1.2.pdf" target="_blank")  ISA terms &amp; conditions
          .subscribe__col
            .subscribe__form
              .subscribe__form-label Enter your phone number and get sent a link to download the app
              form(action="#").subscribe__form-box.js-validate-form
                .subscribe__input-placeholder +44
                input(type="tel" placeholder="" name="phone")
                button(type="subscribe").btn.btn-primary Text Me a Link
    p.form-isa__text Understand the risks. The value of your investment and the income derived from it can go down as well as up and you may get back less than you originally invested. The tax advantages of ISAs may change in the future and also depend on your individual circumstances.