section.intro-isa
  .intro-isa_content
    img(src="img/isa.png", alt="logo isa")
    h1.intro-isa_content_title Make the most 
      br 
      | of your investments
    p.intro-isa_content_description Orca ISAs change the game. With an ISA you invest, you gain and you don’t pay capital gains or UK dividends tax up to £20,000. Open an ISA right in the Orca app. Remember that your capital is at risk 
    .subscribe.isa-subscribe#subscribe
      .subscribe__form
        .subscribe__form-label Enter your phone number and get sent a link to download the app
        form(action="#" method="post").subscribe__form-box.js-validate-form
          .subscribe__input-placeholder +44
          input(type="tel" placeholder="" name="phone")
          button(type="subscribe").btn.btn-primary Text Me a Link
    p.intro-isa_content_mintext Terms and conditions apply. See 
      a(href="https://storage.googleapis.com/orca-static/policies/terms_v1.2.pdf" target="_blank") here 
      | for more details.
  .intro-isa_image
    .intro-isa_image_inner
      img.intro-isa_mobile(src="img/isa-mobile.png" alt="")