section.security-isa
  .container
    .security-isa__text For more info, see our 
      a(href="https://storage.googleapis.com/orca-static/policies/terms_v1.2.pdf" target="_blank") ISA terms &amp; conditions
    .security-isa-item
      +icon('risk_save')
      p.security-isa-item__text Orca App Ltd is an appointed representative of
        a(href="https://risksave.com" target="_blank" alt="RiskSave Technologies Ltd website") RiskSave Technologies Ltd
        | which is authorised and regulated by the Financial Conduct Authority (FRN: 775330).        
    .security-isa-item
      +icon('fscs')
      p.security-isa-item__text Your money are protected up to £85,000 by FSCS scheme. If Orca App Ltd is declared to be in default and cannot meet their obligations, you can claim compensation. FSCS doesn’t cover in the event your investments go down. Check more on the 
        a(href="https://www.fscs.org.uk" target="_blank" alt="FSCS website") FSCS website