section.shares-isa
  .container
    h2.shares-isa__title How to open an Orca
      br
      | Stocks and Shares ISA?
    .shares-isa-slider-container
      .shares-isa-slider.swiper-wrapper
        .swiper-slide.shares-isa-slider-item
          .shares-isa-slider-item__img
            img(src="img/shares-phone-1.png", alt="While in the app, click ‘ISA’")
          .shares-isa-slider-item__title  While in the app, click ‘ISA’
        .swiper-slide.shares-isa-slider-item
          .shares-isa-slider-item__img
            img(src="img/shares-phone-2.png", alt="Agree to the conditions")
          .shares-isa-slider-item__title  Agree to the conditions
        .swiper-slide.shares-isa-slider-item
          .shares-isa-slider-item__img
            img(src="img/shares-phone-3.png", alt="Congratulations!")
          .shares-isa-slider-item__title  Congratulations!
      .swiper-pagination
