.footer {
    padding-bottom: 80px
  }
  @media only screen and(max-height: 830px) {
    .footer {
      padding-bottom: 40px
    }
  }
  @media only screen and(max-width: 992px) {
    .footer {
      padding-bottom: 60px
    }
  }
  @media only screen and(max-width: 767px) {
    .footer {
      padding-bottom: 120px
    }
  }
  @media only screen and(max-width: 480px) {
    .footer {
      padding-bottom: 70px
    }
  }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 60px -15px -15px;
  }
  @media only screen and(max-width: 992px) {
    .footer__wrapper--bottom {
      display: none
    }
  }
  .footer__col {
    width: 100%;
    min-width: 1px;
    min-height: 0;
    padding: 15px;
    margin-top: 0
  }
  @media only screen and(max-width: 992px) {
    .footer__col {
      margin-top: 5px
    }
  }
  .footer__col--5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%
  }
  @media only screen and(max-width: 992px) {
    .footer__col--5 {
      flex-basis: 100%;
      max-width: 100%
    }
  }
  .footer__col--7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%
  }
  @media only screen and(max-width: 992px) {
    .footer__col--7 {
      flex-basis: 100%;
      max-width: 100%
    }
  }
  .footer__col--contacts {
    display: grid;
    grid-template-columns: 1fr 195px;
    grid-template-rows: repeat(2, auto);
    margin-top: -97px
  }
  @media only screen and(max-width: 992px) {
    .footer__col--contacts {
      display: flex
    }
  }
  .footer__col--mobile {
    display: none
  }
  @media only screen and(max-width: 992px) {
    .footer__col--mobile {
      display: block
    }
  }
  @media only screen and(max-width: 992px) {
    .footer__col--mobile .footer__col {
      padding-left: 0
    }
  }