//footer

footer#footer.footer
  .container.container--1120
    .footer__wrapper
      .footer__col.footer__col--5
        a.footer__logo(href='#')
          img(src='img/logo.svg' alt='logo')
        .footer__text
          p
            | Orca App Limited (t/a &ldquo;Orca&rdquo;) is a company registered in England and Wales (company number 12376651), with its registered office at
            | 46-48 East Smithfield, London, England, E1W 1AW
          p
            | Your money is protected up to &pound;85,000 by the FSCS scheme. If Orca App Ltd is declared to be in default and cannot meet its obligations, you may be able to claim compensation. The FSCS doesn&rsquo;t cover losses in the event the value of your investments go down. Your capital is at risk. See the
            a(href='https://www.fscs.org.uk/' target='_blank' rel='nofollow') FSCS website
            |               for further details.
          p
            | Orca App Ltd is an appointed representative of RiskSave Technologies Ltd which is authorised and regulated by the Financial Conduct Authority (FRN: 775330).
      .footer__col.footer__col--7
        // menu
        .footer__menu
          .footer__menu-col
            .footer__menu-title Orca
            ul.footer__menu-list
              li
                a(href='#') Help Centre
              li
                a(href='#') Pricing
              li.disabled
                a(href='#') Newsroom
              li.disabled
                a(href='#') Media Resources
              li
                a(href='#' target='_blank' rel='nofollow') Press Kit
          .footer__menu-col
            .footer__menu-title Company
            ul.footer__menu-list
              li
                a(href='#') Blog
          .footer__menu-col
            .footer__menu-title Legal
            ul.footer__menu-list
              li
                a(href='#' target='_blank') Conflicts Of Interest
              li
                a(href='#' target='_blank') Key Features Orca GIA
              li
                a(href='#' target='_blank') Key Features Orca GIA US
              li
                a(href='#' target='_blank') Key Features Orca ISA
              li
                a(href='#' target='_blank') Order Handling Policy
              li
                a(href='#' target='_blank') Privacy Policy
              li
                a(href='#' target='_blank') Public Complaints Policy
              li
                a(href='#' target='_blank') Referral Terms
              li
                a(href='#' target='_blank') Risk Disclosures
              li
                a(href='#' target='_blank') Terms of Use
              li
                a(href='#' target='_blank') Cookie Policy
    .footer__wrapper.footer__wrapper--bottom
      .footer__col.footer__col--5
        .footer__copy
          | &copy; Orca App Limited 2022. All rights reserved.
      .footer__col.footer__col--7.footer__col--contacts
        p.footer__disclaimer
          | Orca does not provide investment advice. Please consult a qualified investment adviser if you are unsure about anything before investing.
        ul.footer__socials
          li
            a.i-insta(href='#' target='_blank')
              +icon('social-insta')
          li
            a.i-facebook(href='#' target='_blank')
              +icon('social-facebook')
          li
            a.i-twitter(href='#' target='_blank')
              +icon('social-twitter')
          li
            a.i-reddit(href='#' target='_blank')
              +icon('social-reddit')
          li
            a.i-linkedin(href='#' target='_blank')
              +icon('social-linkedin')
        address.footer__address
          span
            | Tel:
            a(href='#') +442045388494
          span 46-48 East Smithfield, London, England, E1W 1AW
    .footer__recaptcha
      | This site is protected by reCAPTCHA and the Google
      a(href='#' target='_blank' rel='nofollow') Privacy Policy
      |             and
      a(href='#' target='_blank' rel='nofollow') Terms of Service
      |             apply
