//footer
// FOOTER :: START
footer.footer
  .container.container--1120
    .footer__wrapper
      .footer__col.footer__col--5
        svg.ico.ico-mono-logo
          use(xlink:href='#ico-mono-logo')
        .footer__text
          p Orca App Limited ( t/a “Orca”) is a company registered in England and Wales (company number 12376651), with its registered office at Wework Labs Office 01-104 70 Wilson Street, Finsbury, London, England, EC2A 2DB
          p Orca App Ltd is an appointed representative of RiskSave Technologies Ltd which is authorised and regulated by the Financial Conduct Authority (FRN: 775330).
      .footer__col.footer__col--5.footer__col--mobile(data-teleport-target="footer-copy")
      .footer__col.footer__col--7.footer__col--mobile(data-teleport-target="footer-socials")

      .footer__col.footer__col--7 
        .footer__menu
          .footer__menu-col
            .footer__menu-title Orca
            ul.footer__menu-list
              li.disabled
                a(href="#") Help Center
              li.disabled
                a(href="#") Newsroom
              li.disabled
                a(href="#") Media Resources

          .footer__menu-col
            .footer__menu-title Company
            ul.footer__menu-list
              li
                a(href="#") About
              li
                a(href="/team") Team
              li
                a(href="/blog") Blog
          .footer__menu-col
            .footer__menu-title Legal
            ul.footer__menu-list
              li
                a(href="https://storage.googleapis.com/orca-static/policies/privacy_policy_v1.3.pdf" target="_blank") Privacy Policy
              li
                a(href="https://storage.googleapis.com/orca-static/policies/waitlist_v0.6.pdf" target="_blank") Waitlist & Giveaway Terms
              li
                a(href="https://orca.app/cookies-policy/" target="_blank") Cookie Policy

    .footer__wrapper.footer__wrapper--bottom
      .footer__col.footer__col--5.js-teleport(data-teleport-condition="<992" data-teleport-to="footer-copy")
        .footer__copy © Orca App Limited 2020. All rights reserved.
      .footer__col.footer__col--7.js-teleport(data-teleport-condition="<992" data-teleport-to="footer-socials")
        .footer__socials
          li
            a(href="https://www.instagram.com/get_orca/" target="_blank").i-insta
              svg.ico.ico-mono-social-insta
                use(xlink:href='#ico-mono-social-insta')
          li
            a(href="https://www.facebook.com/getOrca/" target="_blank").i-facebook
              svg.ico.ico-mono-social-facebook
                use(xlink:href='#ico-mono-social-facebook')
          li
            a(href="https://twitter.com/Get_Orca" target="_blank").i-twitter
              svg.ico.ico-mono-social-twitter
                use(xlink:href='#ico-mono-social-twitter')
          li
            a(href="#" target="_blank").i-reddit
              svg.ico.ico-mono-social-reddit
                use(xlink:href='#ico-mono-social-reddit')
          li
            a(href="https://www.linkedin.com/company/orca-software1/" target="_blank").i-linkedin
              svg.ico.ico-mono-social-linkedin
                use(xlink:href='#ico-mono-social-linkedin')
  .sprite(style='display:none;')
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
      symbol#ico-mono-apple(viewbox='0 0 16 19')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M11.232 0a4.32 4.32 0 01-.95 3.046A3.462 3.462 0 017.524 4.38a4.106 4.106 0 01.974-2.933A4.193 4.193 0 0111.232 0zm3.386 6.481a4.34 4.34 0 00-2.008 3.623c.002 1.675.981 3.186 2.488 3.839a9.66 9.66 0 01-1.294 2.698c-.763 1.167-1.562 2.308-2.83 2.329-.603.014-1.01-.164-1.435-.349-.442-.193-.904-.394-1.625-.394-.766 0-1.247.208-1.712.408-.402.173-.79.34-1.338.364-1.208.046-2.132-1.246-2.921-2.402C.363 14.234-.865 9.94.783 7.02a4.517 4.517 0 013.811-2.38c.685-.015 1.343.255 1.92.492.44.182.833.344 1.155.344.284 0 .666-.156 1.112-.337.702-.285 1.56-.634 2.436-.54 1.36.043 2.62.741 3.401 1.882z')
      symbol#ico-mono-android(viewbox='0 0 16 19')
        g(clip-path='url(#clip0)')
          path(d='M9.34003 9.23659L12.0681 6.37992L1.81323 0.169923C1.64054 0.0644059 1.44538 0.00606288 1.24563 0.000239201C1.04588 -0.00558448 0.847931 0.0412974 0.669922 0.136589L9.34003 9.23659Z' fill='white')
          path(d='M0.374776 18.6466L9.1084 9.47992L0.393831 0.333252C0.268918 0.451359 0.169246 0.595887 0.101371 0.757327C0.0334956 0.918767 -0.00104404 1.09346 2.4036e-05 1.26992V17.7299C-0.000808469 17.9015 0.0320351 18.0715 0.0965087 18.2292C0.160982 18.3869 0.255705 18.529 0.374776 18.6466Z' fill='white')
          path(d='M9.34029 9.72656L0.635254 18.8532C0.815239 18.9542 1.01688 19.0051 1.22092 19.001C1.42497 18.9969 1.62461 18.938 1.8008 18.8299L12.0684 12.6066L9.34029 9.72656Z' fill='white')
          path(d='M15.3968 8.40006L12.3607 6.56006L9.57861 9.48006L12.3861 12.4267L15.4 10.6001C15.5838 10.4883 15.7364 10.3277 15.8424 10.1345C15.9483 9.94122 16.004 9.72208 16.0036 9.4991C16.0033 9.27611 15.9471 9.05715 15.8405 8.86423C15.734 8.6713 15.581 8.51121 15.3968 8.40006Z' fill='white')
        defs
          clippath#clip0
            rect(width='16' height='19' fill='white')
      symbol#ico-mono-logo(viewbox='0 0 110 59')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M16.2601 32.3436C25.2403 32.3436 32.5201 25.1033 32.5201 16.1718C32.5201 7.24037 25.2403 0 16.2601 0C7.27988 0 0 7.24037 0 16.1718C0 25.1033 7.27988 32.3436 16.2601 32.3436ZM21.0114 16.2768C23.6938 16.2768 25.8683 14.1141 25.8683 11.4463C25.8683 8.77844 23.6938 6.61574 21.0114 6.61574C18.329 6.61574 16.1545 8.77844 16.1545 11.4463C16.1545 14.1141 18.329 16.2768 21.0114 16.2768Z' fill='white')
        path(d='M53.4317 26.1817C59.3936 26.1817 64.2284 21.5207 64.2284 15.4437C64.2284 9.3666 59.3936 4.70557 53.4317 4.70557C47.4698 4.70557 42.635 9.3666 42.635 15.4437C42.635 21.5207 47.4698 26.1817 53.4317 26.1817ZM53.4317 21.5797C50.0503 21.5797 47.3808 19.1312 47.3808 15.4437C47.3808 11.7561 50.0503 9.3076 53.4317 9.3076C56.8131 9.3076 59.4826 11.7561 59.4826 15.4437C59.4826 19.1312 56.8131 21.5797 53.4317 21.5797Z' fill='white')
        path(d='M71.2013 13.6441V11.0186H66.7521V25.7687H71.2013V19.1017C71.2013 16.1812 73.8115 15.4437 75.6505 15.7387V10.7236C73.7819 10.7236 71.7945 11.6676 71.2013 13.6441Z' fill='white')
        path(d='M84.4145 26.1817C87.3213 26.1817 89.8425 24.6772 91.1179 22.3762L87.2323 20.1637C86.7577 21.1962 85.6602 21.8157 84.3552 21.8157C82.4272 21.8157 81.0034 20.4292 81.0034 18.3937C81.0034 16.3582 82.4272 14.9716 84.3552 14.9716C85.6602 14.9716 86.7281 15.5912 87.2323 16.6237L91.1179 14.3816C89.8425 12.1101 87.2916 10.6056 84.4145 10.6056C79.906 10.6056 76.5542 13.9981 76.5542 18.3937C76.5542 22.7892 79.906 26.1817 84.4145 26.1817Z' fill='white')
        path(d='M103.386 11.0186V12.4051C102.407 11.2841 100.954 10.6056 98.9663 10.6056C95.0807 10.6056 91.8773 13.9981 91.8773 18.3937C91.8773 22.7892 95.0807 26.1817 98.9663 26.1817C100.954 26.1817 102.407 25.5032 103.386 24.3822V25.7687H107.835V11.0186H103.386ZM99.8562 21.9927C97.8095 21.9927 96.3265 20.6062 96.3265 18.3937C96.3265 16.1812 97.8095 14.7946 99.8562 14.7946C101.903 14.7946 103.386 16.1812 103.386 18.3937C103.386 20.6062 101.903 21.9927 99.8562 21.9927Z' fill='white')
        rect(x='81.2849' y='46.3857' width='28.7149' height='12.3695' rx='2.11015' fill='white')
        path(d='M88.3966 55.3047C89.38 55.3047 89.9336 54.8053 90.1543 54.3601H90.2008V55.1731H91.3313V51.2241C91.3313 49.4935 89.9685 49.1489 89.0238 49.1489C87.9475 49.1489 86.9564 49.5825 86.5692 50.6665L87.6571 50.9143C87.8275 50.4923 88.2611 50.0858 89.0393 50.0858C89.7865 50.0858 90.1698 50.4768 90.1698 51.1505V51.1776C90.1698 51.5996 89.7362 51.5919 88.6676 51.7158C87.541 51.8474 86.3872 52.1416 86.3872 53.4928C86.3872 54.662 87.2661 55.3047 88.3966 55.3047ZM88.6482 54.3755C87.9939 54.3755 87.5216 54.0813 87.5216 53.5083C87.5216 52.8888 88.0714 52.6682 88.7412 52.5791C89.1167 52.5288 90.0072 52.4281 90.1737 52.2616V53.0282C90.1737 53.7329 89.6123 54.3755 88.6482 54.3755ZM92.8731 57.4031H94.0307V54.2478H94.1004C94.3095 54.6272 94.7354 55.2892 95.8194 55.2892C97.2597 55.2892 98.305 54.1355 98.305 52.2113C98.305 50.2833 97.2442 49.1489 95.8078 49.1489C94.7044 49.1489 94.3056 49.8225 94.1004 50.1903H94.0036V49.2263H92.8731V57.4031ZM94.0075 52.1997C94.0075 50.9569 94.5495 50.1323 95.56 50.1323C96.6092 50.1323 97.1358 51.0189 97.1358 52.1997C97.1358 53.3922 96.5937 54.302 95.56 54.302C94.565 54.302 94.0075 53.4502 94.0075 52.1997ZM99.602 57.4031H100.76V54.2478H100.829C101.038 54.6272 101.464 55.2892 102.548 55.2892C103.989 55.2892 105.034 54.1355 105.034 52.2113C105.034 50.2833 103.973 49.1489 102.537 49.1489C101.433 49.1489 101.034 49.8225 100.829 50.1903H100.732V49.2263H99.602V57.4031ZM100.736 52.1997C100.736 50.9569 101.278 50.1323 102.289 50.1323C103.338 50.1323 103.865 51.0189 103.865 52.1997C103.865 53.3922 103.323 54.302 102.289 54.302C101.294 54.302 100.736 53.4502 100.736 52.1997Z' fill='black')
        rect(x='42.4094' y='32.6909' width='67.5905' height='12.3695' rx='2.11015' fill='white')
        path(d='M49.32 34.4928H48.1237V42.4219H49.32V34.4928ZM52.127 38.891C52.127 37.9424 52.7077 37.4004 53.513 37.4004C54.2989 37.4004 54.7751 37.9153 54.7751 38.7787V42.4219H55.9328V38.6393C55.9328 37.1681 55.1236 36.3977 53.9079 36.3977C53.0136 36.3977 52.4289 36.8119 52.1541 37.443H52.0805V36.4751H50.9694V42.4219H52.127V38.891ZM62.3596 36.4751H61.1168L59.6146 41.0513H59.5527L58.0466 36.4751H56.8039L58.9642 42.4219H60.2031L62.3596 36.4751ZM65.7976 42.5419C67.0946 42.5419 68.0122 41.9031 68.2754 40.9352L67.1798 40.7377C66.9707 41.2991 66.4674 41.5856 65.8092 41.5856C64.8181 41.5856 64.1522 40.9429 64.1212 39.7969H68.349V39.3865C68.349 37.2378 67.0636 36.3977 65.7163 36.3977C64.0592 36.3977 62.9675 37.6598 62.9675 39.4872C62.9675 41.334 64.0438 42.5419 65.7976 42.5419ZM64.1251 38.9297C64.1715 38.0857 64.7832 37.3539 65.724 37.3539C66.6222 37.3539 67.2107 38.0199 67.2146 38.9297H64.1251ZM74.0896 37.9269C73.8496 37.0016 73.1256 36.3977 71.8402 36.3977C70.4968 36.3977 69.5443 37.1062 69.5443 38.1592C69.5443 39.0032 70.0554 39.5646 71.1704 39.8124L72.177 40.0331C72.75 40.1609 73.0172 40.4164 73.0172 40.7881C73.0172 41.2488 72.5255 41.6088 71.7666 41.6088C71.0736 41.6088 70.6284 41.3107 70.489 40.7261L69.3701 40.8965C69.5637 41.9495 70.4387 42.5419 71.7744 42.5419C73.2108 42.5419 74.2058 41.7792 74.2058 40.7029C74.2058 39.8627 73.6715 39.3439 72.5797 39.0923L71.635 38.8755C70.9807 38.7206 70.6981 38.4999 70.702 38.0973C70.6981 37.6404 71.1936 37.3152 71.8518 37.3152C72.5719 37.3152 72.9049 37.714 73.0404 38.1128L74.0896 37.9269ZM78.2545 36.4751H77.0349V35.0503H75.8773V36.4751H75.0062V37.4043H75.8773V40.9158C75.8734 41.996 76.6981 42.5187 77.6118 42.4993C77.9796 42.4954 78.2274 42.4257 78.3629 42.3754L78.1538 41.4191C78.0764 41.4346 77.9331 41.4695 77.7473 41.4695C77.3718 41.4695 77.0349 41.3456 77.0349 40.6758V37.4043H78.2545V36.4751ZM79.535 42.4219H80.6926V38.7555C80.6926 37.954 81.254 37.3965 81.9122 37.3965C82.5549 37.3965 83.0001 37.8224 83.0001 38.469V42.4219H84.1538V38.6316C84.1538 37.9153 84.5913 37.3965 85.3463 37.3965C85.958 37.3965 86.4613 37.7372 86.4613 38.5425V42.4219H87.6189V38.4341C87.6189 37.0752 86.8601 36.3977 85.7838 36.3977C84.9282 36.3977 84.2855 36.808 83.999 37.443H83.937C83.6776 36.7926 83.1317 36.3977 82.3381 36.3977C81.5521 36.3977 80.9675 36.7887 80.7197 37.443H80.6462V36.4751H79.535V42.4219ZM91.7335 42.5419C93.0305 42.5419 93.948 41.9031 94.2113 40.9352L93.1156 40.7377C92.9066 41.2991 92.4033 41.5856 91.7451 41.5856C90.754 41.5856 90.088 40.9429 90.0571 39.7969H94.2849V39.3865C94.2849 37.2378 92.9995 36.3977 91.6522 36.3977C89.9951 36.3977 88.9033 37.6598 88.9033 39.4872C88.9033 41.334 89.9796 42.5419 91.7335 42.5419ZM90.0609 38.9297C90.1074 38.0857 90.7191 37.3539 91.6599 37.3539C92.5581 37.3539 93.1466 38.0199 93.1505 38.9297H90.0609ZM96.7269 38.891C96.7269 37.9424 97.3076 37.4004 98.1129 37.4004C98.8988 37.4004 99.3751 37.9153 99.3751 38.7787V42.4219H100.533V38.6393C100.533 37.1681 99.7235 36.3977 98.5078 36.3977C97.6135 36.3977 97.0289 36.8119 96.754 37.443H96.6804V36.4751H95.5693V42.4219H96.7269V38.891ZM104.861 36.4751H103.642V35.0503H102.484V36.4751H101.613V37.4043H102.484V40.9158C102.48 41.996 103.305 42.5187 104.218 42.4993C104.586 42.4954 104.834 42.4257 104.97 42.3754L104.76 41.4191C104.683 41.4346 104.54 41.4695 104.354 41.4695C103.978 41.4695 103.642 41.3456 103.642 40.6758V37.4043H104.861V36.4751Z' fill='black')
      symbol#ico-mono-social-facebook(viewbox='0 0 28 28')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M14 0C6.268 0 0 6.268 0 14s6.268 14 14 14 14-6.268 14-14S21.732 0 14 0zm1.46 14.615v7.617h-3.152v-7.617h-1.575v-2.624h1.575v-1.576c0-2.142.889-3.415 3.415-3.415h2.103v2.625H16.51c-.983 0-1.048.367-1.048 1.052l-.004 1.313h2.381l-.278 2.625h-2.103z')
      symbol#ico-mono-social-insta(viewbox='0 0 28 28')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M14 0C6.268 0 0 6.268 0 14s6.268 14 14 14 14-6.268 14-14S21.732 0 14 0zm-3.078 6.578c.796-.036 1.05-.045 3.079-.045h-.003c2.029 0 2.282.01 3.079.045.795.037 1.338.163 1.814.347.491.19.907.446 1.322.861.415.415.67.832.862 1.323.183.475.31 1.017.347 1.812.035.797.045 1.051.045 3.08 0 2.027-.01 2.28-.045 3.077-.038.795-.164 1.338-.347 1.813a3.667 3.667 0 01-.862 1.322c-.415.415-.831.671-1.322.862-.475.184-1.018.31-1.813.347-.797.036-1.05.045-3.078.045-2.028 0-2.282-.009-3.079-.045-.794-.037-1.337-.163-1.812-.347a3.658 3.658 0 01-1.323-.862 3.66 3.66 0 01-.86-1.323c-.185-.474-.311-1.017-.348-1.812-.036-.796-.045-1.05-.045-3.078 0-2.028.01-2.282.045-3.079.036-.794.162-1.337.347-1.812.191-.491.447-.908.862-1.323.415-.415.831-.67 1.323-.86.474-.185 1.017-.311 1.812-.348zm2.83 1.3H14c1.993 0 2.23.008 3.017.044.728.033 1.123.155 1.386.257.349.135.597.297.858.558.262.262.423.51.559.859.102.263.224.658.257 1.386.036.787.044 1.024.044 3.016 0 1.993-.008 2.23-.044 3.017-.033.727-.155 1.123-.257 1.386a2.309 2.309 0 01-.559.857 2.31 2.31 0 01-.858.559c-.263.102-.658.224-1.386.257-.787.036-1.024.044-3.017.044-1.994 0-2.23-.008-3.018-.044-.728-.034-1.123-.155-1.386-.257a2.312 2.312 0 01-.859-.559 2.314 2.314 0 01-.558-.858c-.103-.263-.224-.658-.258-1.386-.035-.787-.042-1.024-.042-3.018 0-1.994.007-2.229.042-3.016.034-.728.155-1.123.258-1.386.135-.349.297-.598.558-.859.262-.261.51-.423.859-.559.263-.102.659-.224 1.386-.257.69-.031.956-.04 2.348-.042v.002h.42zm4.234 1.24a.896.896 0 100 1.793.896.896 0 000-1.793zM10.166 14a3.835 3.835 0 117.67 0 3.835 3.835 0 01-7.67 0zm6.324 0a2.489 2.489 0 10-4.978 0 2.489 2.489 0 004.978 0z')
      symbol#ico-mono-social-linkedin(viewbox='0 0 28 28')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M14 0C6.268 0 0 6.268 0 14s6.268 14 14 14 14-6.268 14-14S21.732 0 14 0zM6.721 11.595h3.173v9.533H6.72v-9.533zm3.381-2.948C10.082 7.712 9.414 7 8.328 7c-1.085 0-1.795.712-1.795 1.647 0 .915.689 1.647 1.754 1.647h.02c1.107 0 1.795-.732 1.795-1.647zm7.58 2.725c2.088 0 3.654 1.362 3.654 4.29v5.466h-3.173v-5.1c0-1.28-.46-2.155-1.608-2.155-.876 0-1.398.59-1.628 1.158-.084.204-.104.489-.104.774v5.323H11.65s.041-8.638 0-9.532h3.173v1.35c.42-.65 1.175-1.574 2.86-1.574z')
      symbol#ico-mono-social-reddit(viewbox='0 0 28 28')
        path(d='M10.924 16.795a1.398 1.398 0 01-1.406-1.39c0-.778.627-1.405 1.406-1.405.767 0 1.389.627 1.389 1.405 0 .768-.627 1.39-1.39 1.39zM28 14c0 7.734-6.267 14-14 14S0 21.733 0 14C0 6.266 6.267 0 14 0s14 6.267 14 14zm-7.469-2.326c-.53 0-.999.22-1.344.565-1.264-.876-2.969-1.44-4.86-1.502l.982-4.42 3.128.705c0 .767.627 1.389 1.388 1.389.78 0 1.405-.638 1.405-1.406A1.41 1.41 0 0019.825 5.6c-.547 0-1.016.328-1.247.78l-3.455-.768c-.17-.045-.344.08-.39.248l-1.078 4.878c-1.874.079-3.562.637-4.827 1.513a1.869 1.869 0 00-1.36-.576c-1.97 0-2.614 2.647-.813 3.545a4.06 4.06 0 00-.096.876c0 2.968 3.342 5.374 7.452 5.374 4.127 0 7.469-2.406 7.469-5.374 0-.3-.035-.61-.108-.893 1.767-.903 1.117-3.529-.84-3.529zm-3.89 6.56c-1.026 1.027-4.295 1.011-5.283 0a.344.344 0 00-.469 0c-.14.141-.14.362 0 .486 1.287 1.287 4.928 1.287 6.222 0 .14-.124.14-.344 0-.486a.343.343 0 00-.47 0zM17.077 14a1.395 1.395 0 00-1.149 2.181A1.399 1.399 0 1017.077 14z')
      symbol#ico-mono-social-twitter(viewbox='0 0 28 28')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M14 0C6.268 0 0 6.268 0 14s6.268 14 14 14 14-6.268 14-14S21.732 0 14 0zm.61 12.864l-.03-.485c-.087-1.255.686-2.402 1.91-2.847.45-.158 1.215-.178 1.714-.04.196.06.568.258.832.436l.48.326.529-.168c.294-.09.685-.237.862-.336.166-.09.313-.139.313-.109 0 .168-.362.742-.666 1.058-.411.445-.293.484.539.188.5-.168.51-.168.411.02-.059.098-.362.444-.685.76-.549.544-.578.604-.578 1.059 0 .701-.333 2.165-.666 2.965-.617 1.503-1.939 3.055-3.261 3.836-1.86 1.098-4.338 1.375-6.424.732-.695-.218-1.89-.771-1.89-.87 0-.03.362-.07.803-.08a5.514 5.514 0 002.624-.73l.53-.317-.608-.208c-.862-.296-1.635-.978-1.831-1.621-.059-.208-.04-.218.51-.218l.567-.01-.48-.227c-.568-.287-1.087-.771-1.341-1.265-.186-.356-.421-1.256-.353-1.325.02-.03.225.03.46.109.676.247.764.188.372-.228-.734-.751-.96-1.868-.607-2.926l.167-.475.646.643c1.322 1.295 2.88 2.066 4.661 2.294l.49.059z')
// FOOTER :: END
