head
  meta(charset="utf-8")
  title Orca app | orca.app Investments for all. Easier than you think.
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="theme-color" content="#fff")
  meta(name="format-detection" content="telephone=no")
  meta(name="format-detection" content="address=no")
  meta(name="yandex-verification" content="390f82bf7a4eb1de")
  meta(name="description" content="Orca is a cutting edge mobile app to start investing easily. Meet the new way to make your money work for you.")
  meta(name="keywords" content="")
  meta(property="og:title" content="Orca app | orca.app Investments for all. Easier than you think.")
  meta(property="og:description" content="Orca is a cutting edge mobile app to start investing easily. Meet the new way to make your money work for you.")
  meta(property="og:url" content="https://orca.app/")
  meta(property="og:image" content="https://orca.app/static/landing/og.8bb8ee55dadd.png")
  meta(property="og:type" content="website")
  meta(property="og:image:height" content="600")
  meta(property="og:image:width" content="315")
  meta(name="twitter:title" content="Orca app | orca.app Investments for all. Easier than you think.")
  meta(name="twitter:description" content="Orca is a cutting edge mobile app to start investing easily. Meet the new way to make your money work for you.")
  meta(name="twitter:image:src" content="https://orca.app/static/landing/og.8bb8ee55dadd.png")
  meta(name="twitter:url" content="https://orca.app/")
  link(rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16")
  link(rel="manifest" href="favicons/site.webmanifest")
  link(rel="mask-icon" href="favicons/safari-pinned-tab.svg")
  link(rel="shortcut icon" href="favicons/favicon.ico")
  meta(name="msapplication-config" content="favicons/browserconfig.xml")
  meta(name="msapplication-TileColor" content="#da532c")
  link(href="css/landing.css" rel="stylesheet" media="all")
  link(href="css/style.min.css" rel="stylesheet" media="all")
  script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
  script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")

