.us-invest {
  padding: 40px 0;
  width: 100%;
  overflow: hidden;
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
  }
  &__title {
    font-weight: 900;
    line-height: 1;
    width: 184px;
    font-size: 50px;
    text-transform: uppercase;
    @include media($SMARTPHONE) {
      font-size: 70px;
      width: 220px;
    }
  }
  &__img {
    width: 112px;
    @include media($SMARTPHONE) {
      width: 142px;

    }
  }
  &__text {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 16px;
  }
  &-list {
    grid-area: 3 / 1 / 4 / 3;
  }
}
