section.us-advantages
  .container.container--1120
    h2.hidden Advantages
    ul.us-advantages-list
      li.us-advantages-list-item
        +icon('analyst')
        h3 Analyst rating
        p Check out assets' analysis from leading agencies and investment banks. The analysis is shown in a convenient percentage format.
      li.us-advantages-list-item
        +icon('sipc-2')
        h3 SIPC protection
        p The US securities in Orca App accounts are insured up to $500'000.
      li.us-advantages-list-item
        +icon('support')
        h3 24/7 human support
        p Resolve your questions with an attentive person on the other end. Orca's support heroes are always here to cover your back.
      li.us-advantages-list-item
        +icon('security')
        h3 Data and account security
        p We don't share data with third parties without your consent. In addition, our biometric protection and additional verification tools ensure nobody but you will be able to access your funds.

