section.us-account
  .container.container-1120
    h2.us-account__title Open a US account on Orca and familiarise yourself with the largest stock markets in the world!
    a.btn.btn-primary(href="") Let’s do it now!
    .us-account__img
      img(src="img/us-account-img.png", alt="")
