section.us-add 
  .container.container-1120 
    h2.us-add__title Wait! NYSE and NASDAQ?
    p.us-add__text Yes! We've added US stocks to the app for you to invest in the top companies in the world!
    a.btn.btn-primary(href="")  Huh? 🤔
    .us-add-img 
      img(src="img/us-add-1.png", alt="")
      img(src="img/us-add-2.png", alt="")

