section.us-account
  .container.container-1120
    h2.us-account__title Open a US account on Orca and familiarise yourself with the largest stock markets in the world!
    a.btn.btn-primary(href="") Let’s do it now!
    .us-account-img
      img.us-account-img__mobile(src="img/us-account-img.png", alt="")
      .us-account-img-desktop
        img.us-account-img__top(src="img/us-account-img-hair.png", alt="")
        img(src="img/us-account-img-desktop.png", alt="")

