section.us-better
  .container.container--1120
    h2.us-better__title Better than any investment app with US stocks
    ul.us-better-list
      li.us-better-list-item
        .us-better-list-item-img
          +icon('us-better-graf')
        p.us-better-list-item__text Get access to assets from NYSE and NASDAQ
      li.us-better-list-item
        .us-better-list-item-img
          +icon('us-better-star')
        p.us-better-list-item__text Enjoy enhanced functionality and features
      li.us-better-list-item
        .us-better-list-item-img
          +icon('us-better-fractal')
        p.us-better-list-item__text Buy fractional
          br
          | shares from £2
      li.us-better-list-item
        .us-better-list-item-img
          +icon('us-better-learn')
        p.us-better-list-item__text Check the education section to simplify your investment journey
      li.us-better-list-item
        .us-better-list-item-img
          +icon('us-better-pay')
        p.us-better-list-item__text Buy US stocks at ZERO trading comission
      li.us-better-list-item
        .us-better-list-item-img
          +icon('us-better-diamond')
        p.us-better-list-item__text Brilliant, isn’t it?


