section.us-invest
  .container.container--1120
    h2.us-invest__title Get more from your money
    img.us-invest__img(src="img/us-invest-img.png", alt="")
    ul.us-invest-list
      li.us-invest-list-item
        h3 Invest any amount
        p Apple, Tesla, Netflix, and others are available from just £2 as fractional shares.
      li.us-invest-list-item
        h3 Buy With Zero Fees
        p We don’t take commission for trades with US stocks.
      li.us-invest-list-item
        h3 Instant conversion
        p Orca instantly converts stock market price in pounds allowing you to monitor your portfolio performance in the native currency.
    a.btn.btn-primary Yes please!

