section.us-invest 
  .container.container--1120 
    h2.us-invest__title Get more from your money
    img.us-invest__img(src="img/us-invest-img.png", alt="")
    p.us-invest__text Discover the most prominent and technological US companies at no fee.
    ul.us-invest-list
      li.us-invest-list-item
        h3 Invest any amount
        p Apple, Tesla, Netflix, and others are available from just £1 as fractional shares. Don’t spend large sums if you don’t want to.
      li.us-invest-list-item
        h3 Buy With Zero Fees
        p Invest in US stocks at no fees. We don’t take commission for trades with US stocks. All operations are free.
      li.us-invest-list-item
        h3 Instant conversion
        p Orca instantly converts stock market price in pounds allowing you to monitor your portfolio performance in the native currency.

