section.us-partners
  .container.containe--1120
    h3.us-partners__title New Outlooks, Same Robustness
    ul.us-partners-list
      li
        img(src="img/factset.png", alt="FACTSET")
      li
        img(src="img/lseg.png", alt="LSEG")
      li
        img(src="img/nasdaq.png", alt="NASDAQ")
      li
        img(src="img/DowJones.png", alt="DowJ ones")

