section.us-reviews
  .container.container-1120
    h2.us-reviews__title You’ll love Orca more than these guys!
    ul.us-reviews-list
      li.us-reviews-list-item
        .us-reviews-list-item__foto
          +icon('purple')
        span.us-reviews-list-item__title Simon
        .us-reviews-list-item-stars
          +icon('star')
          +icon('star')
          +icon('star')
          +icon('star')
          +icon('star')
        p.us-reviews-list-item__text Your app is the best investment app I've ever seen! ui and ux are so smooth, I can't even describe! hope you'll have a desktop version so I can enjoy it 100 times more!
