header.link-header
  .container
    a.link-header-logo(href="https://orca.app/" target="_blank")
      img(src="img/logo.svg", alt="")
main
  section.link-first 
    img.gift-1(src="img/gift-1.png", alt="")
    img.gift-2(src="img/gift-2.png", alt="")
    .container
      .link-first__title Just one more step 
        br 
        | to get free stocks!
      .link-first-grid
        .link-first-grid-left 
          p Hello, fellow investor!
          p How are you? 
            br 
            | Have any plans for the weekend?
          p Make it better with freebies in your portfolio!
        .link-first-grid-right 
          img(src="img/man.png", alt="")
  section.link-steps 
    .container 
      .link-steps-text 
        p 
          span.main Just a few steps 
          | – and you all will get free stocks up to 
          span.yellow £200 
          | worth! 
        p You heard that! We’ve already given 
          span.yellow £22,000 
          | worth of shares, and every 4th user is invited by someone.
  section.link-share 
    .container 
      .link-share-img 
        img(src="img/link-share-img.png", alt="link phone")
      p.link-share-text Just share your referral code with others, and get free stocks worth  
        span.yellow up to £200.
  section.numbers.link-numbers 
    .container 
      ul.numbers-list
        li.numbers-list-item 
          h3.numbers-list-item__title £19k+
          p.numbers-list-item__text in shares given away in 2 months
        li.numbers-list-item 
          h3.numbers-list-item__title 2 min
          p.numbers-list-item__text on average you need to register
        li.numbers-list-item 
          h3.numbers-list-item__title 
            span.numbers-list-item__title_small up to 
            | £200
          p.numbers-list-item__text you can get in the stock equivalent
        li.numbers-list-item 
          h3.numbers-list-item__title
            span.numbers-list-item__title_small every
            | 4th
          p.numbers-list-item__text Orca’s user is a referral cause it’s awesome!
  section.link-footer 
    .container
      p.link-footer__text If you’re about to hang out with your friends and family, remember Orca and the easy opportunity you have to get free stocks for yourself and all of them!

  .getapp__btn.is-visible.btn-primary
    a(href="") Invite friends!






  