.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-apple {
	font-size:(19/10)*1rem;
	width:(16/19)*1em;
}
.icon-arrow-right {
	font-size:(10/10)*1rem;
	width:(6/10)*1em;
}
.icon-bag {
	font-size:(34/10)*1rem;
	width:(37/34)*1em;
}
.icon-calc-arrow {
	font-size:(10/10)*1rem;
	width:(6/10)*1em;
}
.icon-calendar {
	font-size:(44/10)*1rem;
	width:(44/44)*1em;
}
.icon-chart-arrow {
	font-size:(8/10)*1rem;
	width:(14/8)*1em;
}
.icon-checkbox {
	font-size:(32/10)*1rem;
	width:(33/32)*1em;
}
.icon-clock {
	font-size:(41/10)*1rem;
	width:(41/41)*1em;
}
.icon-codepen {
	font-size:(37/10)*1rem;
	width:(36/37)*1em;
}
.icon-email {
	font-size:(35/10)*1rem;
	width:(49/35)*1em;
}
.icon-faq-search {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-fscs {
	font-size:(40/10)*1rem;
	width:(120/40)*1em;
}
.icon-isa {
	font-size:(31/10)*1rem;
	width:(61/31)*1em;
}
.icon-logo {
	font-size:(32/10)*1rem;
	width:(103/32)*1em;
}
.icon-logotype {
	font-size:(59/10)*1rem;
	width:(110/59)*1em;
}
.icon-message-square {
	font-size:(41/10)*1rem;
	width:(41/41)*1em;
}
.icon-next {
	font-size:(15/10)*1rem;
	width:(36/15)*1em;
}
.icon-next-white {
	font-size:(19/10)*1rem;
	width:(29/19)*1em;
}
.icon-octagon {
	font-size:(41/10)*1rem;
	width:(41/41)*1em;
}
.icon-prev {
	font-size:(15/10)*1rem;
	width:(35/15)*1em;
}
.icon-prev-white {
	font-size:(15/10)*1rem;
	width:(23/15)*1em;
}
.icon-reddit {
	font-size:(29/10)*1rem;
	width:(28/29)*1em;
}
.icon-reset {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-rewarded-circle-1 {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
.icon-rewarded-circle-2 {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
.icon-rewarded-circle-3 {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
.icon-rewarded-circle-4 {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
.icon-risk_save {
	font-size:(40/10)*1rem;
	width:(120/40)*1em;
}
.icon-social-facebook {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-social-insta {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-social-linkedin {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-social-reddit {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-social-twitter {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-star {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-star-part {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-trustpilot {
	font-size:(40/10)*1rem;
	width:(164/40)*1em;
}
.icon-wallet {
	font-size:(44/10)*1rem;
	width:(44/44)*1em;
}
.icon-work {
	font-size:(44/10)*1rem;
	width:(44/44)*1em;
}
