.breakdown {
  &.visibility{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .container {
    @include media($TABLET) {
      padding: 0;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 800;
    @include media($TABLET) {
      font-size: 32px;
    }
  }
  &-donut {
    @include media($DESKTOP) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 26px;
    }
    &-list {
      display: flex;
      height:  auto;
      margin-top: 20px;
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
      margin-bottom: 50px;
      @include media($DESKTOP) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 54px;
      }
      &__item {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 0 0 13px;
        margin-right: 40px;
        font-size: 20px;
        font-weight: 700;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
          height: 3px;
          width: 0;
          opacity: 0;
          background: #8346E9;
          transition: width 0.2s ease;
        }
        &.active {
          color: #8346E9;
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
    &-box {
      width: 265px;
      margin: 0 auto;
      height: 296px;
      overflow: visible;
      @include media($TABLET) {
        width: 328px;
      }
      @include media($DESKTOP) {
        grid-column-start: 1;
        grid-row-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      g.highcharts-data-labels.highcharts-series-0.highcharts-pie-series.highcharts-tracker {
        transform: translate(-15px,-15px) scale(1.2)!important;
        @include media($TABLET) {
          transform: translate(-13px,-10px) scale(1.15)!important;
        }
      }
      .highcharts-root .highcharts-halo{
        visibility: hidden !important;
      }
      .donut-tooltip .highcharts-tooltip{
        fill: rgba($color: #000000, $alpha: 0.3);
      }
      .donut-tooltip {
        text {
          tspan:first-child{
            font-size: 14px!important;
            height: 40px!important;
          }
        }
      }
      // .highcharts-series .highcharts-point-inactive {
      //   opacity: 1!important;
      // }
      // .highcharts-point-select {

      // }
      #myDonut  {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 100%;
        touch-action: none;
        overflow: visible;
        .highcharts-background {
          background: transparent;
          fill: transparent;
        }
        .highcharts-point {
          stroke-width: 0;
        }
        .highcharts-text-outline, .donutPersent {
          stroke-width: 0;
          fill: white;
          text {
            fill: white!important;
            font-size: 12px!important;
            font-weight: 700!important;
            font-family: Inter, sans-serif!important;
            @include media($TABLET) {
              font-size: 16px!important;
            }
          }
        }

      }
    }
    &-volums {
      @include media($DESKTOP) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      &-title {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        font-size: 14px;
        line-height: 24px;
        border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.3);
        padding-right: 50px;
        @include media($DESKTOP) {
          padding-right: 5px;
          margin-top: 0;
        }
        @include media($HD) {
          padding-right: 20px;
          margin-top: 0;
        }
      }
      &-list {
        margin-top: 14px;
        overflow: hidden;
        transition: 0.2s ease;
        &-item {
          display: grid;
          grid-template-columns: 1fr 50px;
          grid-column-gap: 10px;
          grid-template-rows: auto;
          font-size: 14px;
          line-height: 24px;
          padding-left: 8px;
          padding-right: 50px;
          border-left: 1px solid blue;
          margin-bottom: 20px;
          @include media($DESKTOP) {
            grid-template-columns: 1fr auto;
            grid-template-rows: auto;
            grid-column-gap: 10px;
            padding-right: 5px;
            min-width: 295px;
          }
          @include media($HD) {
            padding-right: 20px;
            grid-template-columns: 1fr 50px;
            grid-template-rows: auto;
            grid-column-gap: 49px;
          }
          &__title {
            margin-top: 50;
            margin-bottom: 8px;
            display: inline-block;
            letter-spacing: -0.01em;
            @include media($TABLET) {
              font-size: 16px;
            }
            @include media($DESKTOP) {
              white-space: nowrap;
            }
          }
          &__assets {
            color: #8D8D93;
            display: inline-block;
            line-height: 1;
          }
          &__volume {
            display: inline-block;
            margin-right: 50px;
            padding-right: 20px;
            @include media($TABLET) {
              font-size: 16px;
            }
            @include media($DESKTOP) {
              max-width: 50px;
              margin-right: 0;
              padding-right: 0;
            }

          }

        }
      }
      &__btn {
        display: none;
        background: transparent;
        color: #5579F7;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
      }
    }

  }
}
