aside.page-allocation-aside
  .page-allocation-aside__wrapper.subscribe
    img.page-allocation-aside__img(src="img/chart-gift.png", alt="")
    p.page-allocation-aside__text Orca, a new kind of investment app, that rewards users with free shares.&nbsp;
      span.page-allocation-aside__text_main Create &nbsp;
      | an account,&nbsp;
      span.page-allocation-aside__text_main buy&nbsp;
      | at least 3 different assets,&nbsp;
      span.page-allocation-aside__text_main get&nbsp;
      | a free share.
    .page-allocation-aside-form.subscribe__form
      form(action="#").subscribe__form-box.js-validate-form
        .subscribe__input-placeholder +44
        input(type="tel" placeholder="" name="phone")
        button(type="subscribe").btn.btn-primary Text Me a Link
