section.breakdown
  .container.container--1120.chart-content
    .breakdown__title ISA Portfolio Breakdown
    .breakdown-donut-wrapper
      ul.breakdown-donut-list
        li
          a.breakdown-donut-list__item(href="") Sectors
        li
          a.breakdown-donut-list__item(href="") Type
      .breakdown-donut-box
      .breakdown-donut-volums
        .breakdown-donut-volums__title
          span Sector
          span Volume
        ul.breakdown-donut-volums__list
