section.breakdown.content
  .container.container--1120
    .breakdown__title ISA Portfolio Breakdown
    .breakdown-donut
      ul.breakdown-donut-list
        li
          a.breakdown-donut-list__item(href="").active Sectors
        li
          a.breakdown-donut-list__item(href="") Type
      .breakdown-donut-box
        canvas#myDonut(width="100%" height="100%")
      .breakdown-donut-volums
        .breakdown-donut-volums-title
          span Sector
          span Volume
        ul.breakdown-donut-volums-list
        button.breakdown-donut-volums__btn Show All

