section.chart
  .chart-loading.container.container--1120.opacity
    .chart-loading__animation
      #loadingAnimation
      #svgContainer
    span.chart-loading__text Generating Portfolio
  .container.container--1120.content.visibility
    h1.chart__title
      span
      |’s Portfolio
    span.chart-datatime On&nbsp;
      span.chart-datatime__date
      span.chart-datatime__time
    .chart-results
      .chart-results-details
        span.chart-results-details__arrow
          +icon('chart-arrow')
        span.chart-results-details__percent
          span 
          | %
        span.chart-results-details__period
      .chart-tooltip 
        .chart-tooltip-link How do we calculate this?
        .chart-tooltip-box  
          p.chart-tooltip-box__text We take positions in investments in the presented timeframes and calculate their change relative to the starting point of the chart. 
          button.chart-tooltip-box__btn Got it
      .chart-results-changes
        .chart-results-changes-box#chartContainer
          canvas#myChart(width="100%" height="100%")
          +icon('logotype')
        ul.chart-results-changes-gap




