.page-allocation-footer
  .container.container--1120
    h3.page-allocation-footer__title DISCLOSURE
    p.page-allocation-footer__text You should seek advice from an independent and suitably licensed financial advisor and ensure that you have the risk appetite, relevant experience and knowledge before you decide to trade.
