section.rewarded.page-allocation-rewarded
  .container.container--1120
    h2.rewarded__title Orca have rewarded users with
      span.rewarded__title_main &nbsp;£19k+&nbsp;
      | worth of shares.
    span.rewarded__subtitle You have to follow 3 simple steps to be the next ones to cash in:
    .rewarded-slider-container
      .rewarded-slider.swiper-wrapper
        .rewarded-slider-item.swiper-slide
          span.rewarded-slider-item__circle.rewarded-slider-item__circle_bottom
            +icon('rewarded-circle-1')
          h3.rewarded-slider-item__title Get started
          p.rewarded-slider-item__text Download Orca and open a GIA just in a few minutes
        .rewarded-slider-item.swiper-slide
          span.rewarded-slider-item__circle.rewarded-slider-item__circle_top
            +icon('rewarded-circle-2')
          h3.rewarded-slider-item__title Purchase
          p.rewarded-slider-item__text Purchase 3 different assets of your choice
        .rewarded-slider-item.swiper-slide
          span.rewarded-slider-item__circle
            +icon('rewarded-circle-4')
          h3.rewarded-slider-item__title Get your free stocks
          p.rewarded-slider-item__text Wait until your friend meet the conditions, then you both get a free stock
      .swiper-pagination.rewarded-slider-pagination


