section.stocks.content
  .container.container--1120
    h2.stocks__title Stocks in Portfolio
    .stocks-tags-wrapper
      ul.stocks-tags
        li.stocks-tags-item
          a.stocks-tags-item__link(href="#" data-category='all').active All Assets
    span.stocks__subtitle(data-title="EQUITY") Stocks
    ul.stocks-list(data-list="EQUITY")
    span.stocks__subtitle(data-title="ETF") ETF’s
    ul.stocks-list_etf(data-list="ETF")

