section.stocks
  .container.container--1120.content.visibilyty
    h2.stocks__title Stocks in ISA Portfolio
    .stocks-tags-wrapper
      ul.stocks-tags
        li.stocks-tags-item
          a.stocks-tags-item__link(href="").active All Assets
        li.stocks-tags-item
          a.stocks-tags-item__link(href="") All Assets
    span.stocks__subtitle Stocks
    ul.stocks-list
      li.stocks-list-item
        img.stocks-list-item__img(src="https://storage.googleapis.com/orca-marketdata-media/logos/IOSFRES1s120x120_1607693927.png", alt="")
        span.stocks-list-item__title Fresnillo
        span.stocks-list-item__percent 1.894%
    span.stocks__subtitle ETF’s
    ul.stocks-list_etf
    //-   li.stocks-list-item
    //-     img.stocks-list-item__img(src="https://storage.googleapis.com/orca-marketdata-media/logos/IOSLSE1s120x120_1607693878.png", alt="")
    //-     span.stocks-list-item__title London Stock Exchange Group
    //-     span.stocks-list-item__percent 1.4373%

