section.gia-first
  .container.container--1120
    .gia-first__top
      h1.gia-first__title You think investment is cool?  Well, it’s even
        span.gia-first__title_main cooler with Orca!
      span.gia-first__subtitle Our GIA will meet the requirements of any user.
      ul.gia-first-links
        li
          a(href="#")
            img(src="img/AppStoreBadge.png", alt="App Store")
        li
          a(href="#")
            img(src="img/GoogleStoreBadge.png", alt="Google Store")
    ul.gia-first-list
      li.gia-first-list-item
        span.gia-first-list-item__title Simple
        p.gia-first-list-item__text Answer a few questions and your 
          span.main GIA is ready.
      li.gia-first-list-item
        span.gia-first-list-item__title Free
        p.gia-first-list-item__text Pay no extra money for your GIA.
      li.gia-first-list-item
        span.gia-first-list-item__title Unlimited
        p.gia-first-list-item__text Invest as little or as much as you want.
  include gia-form

