section.gia-best
  .container.container--1120
    h2.gia-best__title Stocks can trade up or fall but one thing remains the same -
    p.gia-best__text Orca is the most handy app for investment If you’re looking for a general investment account in the UK, the Orca app is the best choice.
    include gia-form

