section.gia-faq
  .container.container--1120
    h2.gia-faq__title FAQ
    ul.gia-faq-list
      li.gia-faq-list-item
        span.gia-faq-list-item__title What is a general investment account (GIA) definition?
        p.gia-faq-list-item__text GIA is a simple way to invest more money once you've used up all of your ISA limit for the tax year. But unlike ISA there's a general investment account tax.
      li.gia-faq-list-item
        span.gia-faq-list-item__title Can I open a general investment account?
        p.gia-faq-list-item__text Yes, just download the Orca app, answer some simple questions in the chat and start investing.
      li.gia-faq-list-item
        span.gia-faq-list-item__title How much does a general investment account cost?
        p.gia-faq-list-item__text None at all, in Orca app it’s free
      li.gia-faq-list-item
        span.gia-faq-list-item__title What am I investing in?
        p.gia-faq-list-item__text It’s totally up to you. We have over 300 LSE stocks. You can choose whether to invest in single stocks or in ETFs.
      li.gia-faq-list-item
        span.gia-faq-list-item__title Can I start a stocks and shares ISA with Orca?
        p.gia-faq-list-item__text Sure. Tap the “ISA” button in your account and follow the instructions
    .gia-faq-support
      span.gia-faq-support__title Have more questions?
      a.btn.btn-primary.gia-faq-support__btn  Ask our support team!

