.gia-form
  .subscribe.gia-form-subscribe#subscribe
    .subscribe__form
      .subscribe__form-label Download the Orca app and start your investing journey with us
      form(action="#" method="post").subscribe__form-box.js-validate-form
        .subscribe__input-placeholder +44
        input(type="tel" placeholder="" name="phone")
        button(type="subscribe").btn.btn-primary Text Me a Link
