section.gia-why
  .container.container--1120
    h2.gia-why__title Why GIA in Orca?
    .gia-why-slider.swiper-container
      .swiper-wrapper
        .gia-why-slider-item.swiper-slide
          .gia-why-slider-item-img
            img(src="img/gia-why-1.png", alt="")
          .gia-why-slider-item-content
            span.gia-why-slider-item-content__title Money is yours
            p.gia-why-slider-item-content__text Because you will have full access to your money
        .gia-why-slider-item.swiper-slide
          .gia-why-slider-item-img
            img(src="img/gia-why-2.png", alt="")
          .gia-why-slider-item-content
            span.gia-why-slider-item-content__title Variety of choice
            p.gia-why-slider-item-content__text Because you can choose from over 300 LSE stocks, and US stocks are soon to be
        .gia-why-slider-item.swiper-slide
          .gia-why-slider-item-img
            img(src="img/gia-why-3.png", alt="")
          .gia-why-slider-item-content
            span.gia-why-slider-item-content__title Fits all
            p.gia-why-slider-item-content__text Because there’s no limit on how much you can invest
        .gia-why-slider-item.swiper-slide
          .gia-why-slider-item-img
            img(src="img/gia-why-4.png", alt="")
          .gia-why-slider-item-content
            span.gia-why-slider-item-content__title You ask - we answer
            p.gia-why-slider-item-content__text Because you will have full access to your money
        .gia-why-slider-item.swiper-slide
          .gia-why-slider-item-img
            img(src="img/gia-why-5.png", alt="")
          .gia-why-slider-item-content
            span.gia-why-slider-item-content__title You can grow as an investor
            p.gia-why-slider-item-content__text Because you can develop your investment wisdom with our education section
    .gia-why-slider-nav
      .gia-why-slider-nav-prev
        +icon('prev')
      .gia-why-slider-nav-dots
      .gia-why-slider-nav-next
        +icon('next')


