.orcaguide-first {
  padding-bottom: 40px;
  &__content {
    @include media($TABLET) {
      display: grid;
      grid-template-columns: 1fr 40%;
      grid-template-rows: repeat(6, auto);
    }
    @include media($DESKTOP) {
      display: grid;
      grid-template-columns: 1fr 511;
      grid-template-rows: repeat(6, auto);
    }
  }
  &-img {
    width: 80%;
    height: 241px;
    margin-left: auto;
    margin-right: -40px;
    top: -45px;
    position: relative;
    @include media($TABLET) {
      top: 0;
      grid-area: 1 / 2 / 6 / 3;
      height: 450px;
      width: 100%;
    }
    img {
      position: absolute;
      &:first-child {
        top: 10px;
        left: 10%;
        width: 48%;
        max-width: 220px;
        @include media($TABLET) {
          left: 0;
          width: 226px;
          max-width: 246px;
        }
      }
      &:nth-child(2) {
        bottom: 6px;
        right: 10%;
        width: 56%;
        max-width: 260px;
        @include media($TABLET) {
          width: 287px;
          max-width: 337px;
          right: 0;
        }
      }
    }
  }
  &__title, &__subtitle {
    font-weight: 500;
    max-width: 240px;
    font-size: 32px;
    line-height: 1.2;
    position: relative;
    margin-top: -131px;
    @include media($TABLET) {
      margin-top: 99px;
    }
  }
  &__subtitle {
    margin-top: 40px;
    max-width: 250px;
    @include media($TABLET) {
      max-width: 100%;
      grid-area: 4 / 1 / 5 / 3;
    }
  }
  &__text {
    &_italic {
      font-style: italic;
      @include media($TABLET) {
        grid-area: 5 / 1 / 6 / 3;
      }
      + .orcaguide-first__text {
        @include media($TABLET) {
          grid-area: 6 / 1 / 7 / 3;
        }
      }
    }
  }
  .orcaguide-subscribe {
    display: block;
    margin: 40px -16px;
    padding: 30px 22px;
    background: radial-gradient(75.23% 530.47% at 17.03% 18.3%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.43) 100%);
    box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.04);
    @include media($TABLET) {
      box-shadow: none;
      background: transparent;
      margin: 0;
      padding: 0;
      margin-top: 60px;
    }

  }
}
