section.orcaguide-learn
  .container.container--1120
    h2.orcaguide-learn__title What will you learn?
    .orcaguide-learn-form
      h3.orcaguide-learn-list-item__title Start small
      p.orcaguide-learn-list-item__text Imagine you want to become a pastry-cook. Of course, you won’t start at once by cooking big, tasty cakes. Maybe you’ll begin with some simple cupcakes, to get to understand the process.
        br
        span It’s the same with investment.
        | You start with small amounts, try to figure everything out and gradually develop your skills step-by-step.
      button.btn.btn-primary Get the guide
    ul.orcaguide-learn-list
      li.orcaguide-learn-list-item
        h3.orcaguide-learn-list-item__title So, what’s up with the lingo?
        p.orcaguide-learn-list-item__text Have you ever been in the situation when you were out with your friends, they started discussing some investment stuff and you stood there, understanding nothing? “What on earth are you all talking about? Let’s discuss the latest Marvel film instead, guys! Guys, hello…”
          br
          br
          | Okay, you need to calm down—we’ll figure it out.
      li.orcaguide-learn-list-item
        h3.orcaguide-learn-list-item__title A croissant, a donut and a cheesecake, please
        p.orcaguide-learn-list-item__text Diversification is the key that helps to reduce risks. Diversification… sounds hard, doesn’t it? But actually it’s super-easy.
      li.orcaguide-learn-list-item
        h3.orcaguide-learn-list-item__title But what if I lose everything?!
        p.orcaguide-learn-list-item__text It’s true, investment can be risky. Life is also risky, right? Every single moment of your life can be unpredictable. The good news is that there’re always some ways to minimise the risks, both in life and investment. You don’t know how? Well, our guide will help you to figure it out.
      li.orcaguide-learn-list-item
        h3.orcaguide-learn-list-item__title How Orca helps you become an investor
        p.orcaguide-learn-list-item__text The Orca app has all the instruments you need to meet your goals and take your first step towards financial independence.
