section.orcaguide-first
  .container.container--1120
    .orcaguide-first__content
      .orcaguide-first-img
        img(src="/img/smilinghearts-eyes.png", alt="")
        img(src="/img/smilinghearts.png", alt="")
      h1.orcaguide-first__title Taste Investment
      p.orcaguide-first__text Everybody around you is investing, but you’re still out of the loop? Sorry mate, it’s not easy feeling left out, is it? Out of the goodness of our hearts, we’ve prepared a short guide to help you start investing — if that’s what you fancy. We hope that, after reading this guide, the idea of investment will be as tempting to you as the most delicious dessert.
      .orcaguide-first-form
        .subscribe.orcaguide-subscribe
          .subscribe__form
            .subscribe__form-label Get your personal link with awesome Orca guide!
            form(action="#" method="post").subscribe__form-box.js-validate-form
              .subscribe__input-placeholder +44
              input(type="tel" placeholder="" name="phone")
              button(type="subscribe").btn.btn-primary Get the guide
      h2.orcaguide-first__subtitle Why may you need the guide?
      p.orcaguide-first__text.orcaguide-first__text_italic You may be wondering, why may I need your guide, exactly? Well, let us introduce ourselves.
      p.orcaguide-first__text We are Orca—an investment app created so that everybody can have access to investing. We want investment to become an inseparable part of everybody’s lifestyle, so we’ve added all the tools you need to figure it out. So, now that you know, why not leave your email address, receive the guide, get a free stock on our app and start investing?
