section.orcaguide-form
  .container.container--1120
    .subscribe.orcaguide-subscribe
      .subscribe__form
        .subscribe__form-label Leave your phone number, receive the guide,&nbsp;
          span get a free stock 
          | on the Orca app and start investing with us.
        form(action="#" method="post").subscribe__form-box.js-validate-form
          .subscribe__input-placeholder +44
          input(type="tel" placeholder="" name="phone")
          button(type="subscribe").btn.btn-primary Get the guide
