section.team-first
  .container.container--1120
    h1.team-first__title Making the best investment app&nbsp;
      span.team-first__title_main for the people
    p.team-first__text We’re here to make investment&nbsp;
      span.team-first__text_main accessible and enjoyable for everyone.&nbsp;
      | Orca was created by talented, experienced, and passionate people who create, test, and design all its useful features and tools in order to&nbsp;
      span.team-first__text_main make you feel comfortable&nbsp;
      | throughout your investment journey.
      br
      br
      | Meet the boys and girls behind the scenes!
