section.team
  .container.container--1120
    h2.hidden Team
    h3.team__title Management Team
    ul.team-list
      li.team-list-item.notBack
        a.team-list-item-link(href="" target="_blank")
          +icon('send')
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Denis Gulagin
          span.team-list-item__post CEO
          span.team-list-item__expost ex-COO at Amaiz Neo Bank UK
      li.team-list-item.notBack
        a.team-list-item-link(href="" target="_blank")
          +icon('send')
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Fyodor Panteleev
          span.team-list-item__post CPO
          span.team-list-item__expost ex-Product Director at LATOKEN
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Alexandra Klimenkova
          span.team-list-item__post Head of Legal
          span.team-list-item__expost ex-Legal at Amaiz Neo Bank UK
        .team-list-item__back
          p.team-list-item__text Where law and business meet. Not if, but how.
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Danil Parnikel
          span.team-list-item__post BizDev
          span.team-list-item__expost ex-??? at Semrush, T&amp;D
        .team-list-item__back
          p.team-list-item__text Taught my cat to perform 10 commands
    btn.team-more
      span Show more
      .team-more__arrow
        +icon('team-arrow')
    h3.team__title Marketing Team
    ul.team-list
      li.team-list-item.notBack
        a.team-list-item-link(href="" target="_blank")
          +icon('send')
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Irina Kupchenko
          span.team-list-item__post CMO
          span.team-list-item__expost Co-founder m.art agency
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Marina Siradegyan
          span.team-list-item__post Content team lead
          span.team-list-item__expost ex-Content manager at Semrush
        .team-list-item__back
          p.team-list-item__text I'm creating content. I was creating content. Content is Life!
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Anton Fatykhov
          span.team-list-item__post Brand communications designer
        .team-list-item__back
          p.team-list-item__text Orca is the place where I can create and learn at the same time. And also I make communication design here.
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Konstantin Pavlov
          span.team-list-item__post Digital marketer
          span.team-list-item__post ex-Digital marketer at Alfaleads
        .team-list-item__back
          p.team-list-item__text I create the best mobile clients for investors. Narrowly defined as principle array reverser.
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Dmitry Berchuk
          span.team-list-item__post Marketing Project Manager
          span.team-list-item__post ex-BizDev at Wargaming
        .team-list-item__back
          p.team-list-item__text Building up effective and bright marketing projects. Passionate about brand collaborations
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Alisa Topchiy
          span.team-list-item__post Writer, content creator
          span.team-list-item__post ex-Writer at Sunbreeze Visa Agency
        .team-list-item__back
          p.team-list-item__text Writing is what makes me feel alive.
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Pavel Elcov
          span.team-list-item__post SMM\community manager
          span.team-list-item__post Ex-cashier at Baskin-Robbins
        .team-list-item__back
          p.team-list-item__text I make awesome content and build our social media.
    btn.team-more
      span Show more
      .team-more__arrow
        +icon('team-arrow')
    h3.team__title Product Team
    ul.team-list
      li.team-list-item
        a.team-list-item-link(href="" target="_blank")
          +icon('send')
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Dmitry Illarionov
          span.team-list-item__post #1 Product Manager
          span.team-list-item__expost ex-Product manager at LATOKEN
        .team-list-item__back
          p.team-list-item__text Do what you need, and what you don't need, don't do
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Denis Lavrik
          span.team-list-item__post Product Manager
          span.team-list-item__expost ex-Marketing analytics teamlead at Mail.Ru
        .team-list-item__back
          p.team-list-item__text F*ck it, nothing is impossible.
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Alina Pravdyukova
          span.team-list-item__post UX Lead
          span.team-list-item__expost ex-Product Designer at Boats.com
        .team-list-item__back
          p.team-list-item__text I make the app classy and comfy
      li.team-list-item.notBack
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Vadim Bydanov
          span.team-list-item__post UX/UI designer
          span.team-list-item__expost ex- UX/UI Designer at PMPCH
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Oleg Ustimenko
          span.team-list-item__post Analyst
          span.team-list-item__expost ex-Investment advisor at BCS Broker
        .team-list-item__back
          p.team-list-item__text I analyse data and trading processes. I also work with the product from the point of view of financial markets and trading
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Marina Kolosova
          span.team-list-item__post Analyst
          span.team-list-item__expost ex-C++ programmer at simlabs
        .team-list-item__back
          p.team-list-item__text Next generation calculator
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Maria Zemlyanaya
          span.team-list-item__post Product Operation Manager
          span.team-list-item__expost ex-Product Manager at Indie Gamedev Team
        .team-list-item__back
          p.team-list-item__text I invest all my love and attention to the app
    btn.team-more
      span Show more
      .team-more__arrow
        +icon('team-arrow')
    h3.team__title Development Team
    ul.team-list
      li.team-list-item
        a.team-list-item-link(href="" target="_blank")
          +icon('send')
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Ivan Gusev
          span.team-list-item__post Android Lead
          span.team-list-item__expost ex-Senior Android developer at Yandex
        .team-list-item__back
          p.team-list-item__text I create the best mobile clients for investors. Narrowly defined as principle array reverser.
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Dmitry Laschenov
          span.team-list-item__post Android developer
          span.team-list-item__expost ex-Android developer at iziBook
        .team-list-item__back
          p.team-list-item__text Abstraction is my weapon. Less code, more outcome.
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Konstantin Shabanov
          span.team-list-item__post iOS Lead
          span.team-list-item__expost ex-iOS developer at Fintuity
        .team-list-item__back
          p.team-list-item__text Creating a must-have investment app
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Sofia Kevlia
          span.team-list-item__post iOS developer
          span.team-list-item__expost ex-iOS developer at The Best App
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        a.team-list-item-link(href="" target="_blank")
          +icon('send')
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Kirill Sorokin
          span.team-list-item__post Backend Team lead
          span.team-list-item__expost ex-Backend developer at Tellme Media
        .team-list-item__back
          p.team-list-item__text Senior TAG-master
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Dmitry Dikarev
          span.team-list-item__post Backend developer
          span.team-list-item__expost ex-Backend developer at Tellme Media
        .team-list-item__back
          p.team-list-item__text Senior merge-master
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Dmitry Burnaev
          span.team-list-item__post Backend developer
          span.team-list-item__expost ex-Backend developer at eLama, QMoby
        .team-list-item__back
          p.team-list-item__text Senior MR-creator
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Dmitry Krinitsyn
          span.team-list-item__post DevOps
          span.team-list-item__expost ex-DevOps at IQ Option
        .team-list-item__back
          p.team-list-item__text Senior force-pusher
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Julia Kuzmina
          span.team-list-item__post QA
          span.team-list-item__expost ex-QA at IQ Option
        .team-list-item__back
          p.team-list-item__text I keep a sharp eye on the developers so they write only a high quality code
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Yaroslav Vinogradov
          span.team-list-item__post QA Automation
          span.team-list-item__expost ex-QA Automation at Quadcode
        .team-list-item__back
          p.team-list-item__text Dust off the features, developed and tested previously, so that the rest of the team can peacefully forget those features ever existed.
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Muslimat Ilyasova
          span.team-list-item__post Frontend developer
          span.team-list-item__expost ex-Frontend developer at T.T.Consulting
        .team-list-item__back
          p.team-list-item__text I'm the best at building websites for Orca (basically because there's only me in the page-makers' team)
    btn.team-more
      span Show more
      .team-more__arrow
        +icon('team-arrow')
    h3.team__title Development Team
    ul.team-list
      li.team-list-item
        a.team-list-item-link(href="" target="_blank")
          +icon('send')
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Valentina Pirogova
          span.team-list-item__post Head of Support
          span.team-list-item__expost ex-CEM at Western Union CIS
        .team-list-item__back
          p.team-list-item__text Love and support not only at work
      li.team-list-item.notBack
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Anastasia Udenicheva
          span.team-list-item__post Customer Support Manager
          span.team-list-item__expost ex-Freelance english teacher
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Maksim Antonov
          span.team-list-item__post Customer Support Manager
          span.team-list-item__expost ex-Accountant at Roksot
        .team-list-item__back
          p.team-list-item__text I help investors solve their issues
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Linara Sadykova
          span.team-list-item__post Customer Support Manager
          span.team-list-item__expost ex-Support manager at Grinvich
        .team-list-item__back
          p.team-list-item__text I put on serial killer documentaries to relax after work
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Kristina Rozenberg
          span.team-list-item__post Customer Support Manager
          span.team-list-item__expost ex-Freelance SMM manager
        .team-list-item__back
          p.team-list-item__text Love what you do and do what you love
    btn.team-more
      span Show more
      .team-more__arrow
        +icon('team-arrow')
    h3.team__title Administrative Team
    ul.team-list
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Anna Demchenko
          span.team-list-item__post HRD
          span.team-list-item__expost ex-HR at IQ Option
        .team-list-item__back
          p.team-list-item__text I help to build the strongest fintech team in Saint Petersburg
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Olga Ponomareva
          span.team-list-item__post Office Manager
          span.team-list-item__expost ex-TV channel producer at ???
        .team-list-item__back
          p.team-list-item__text I take care for our office, so as it's cosy to work, relax and have fun there
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
            img(src="img/gulagin.png", alt="Denis Gulagin")
          span.team-list-item__title Margarita Ovseenko
          span.team-list-item__post Accountant
          span.team-list-item__expost ex-Accountant at Roksot
        .team-list-item__back
          p.team-list-item__text keeping an eye on money
