section.team
  .container.container--1120
    h2.hidden Team
    h3.team__title Management Team
    ul.team-list
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Denis Gulagin
          span.team-list-item__post CEO
          span.team-list-item__expost ex-COO at Amaiz Neo Bank UK
        .team-list-item__back


    h3.team__title Product Team
    h3.team__title Development Team
