section.team
  .container.container--1120
    h2.hidden Team
    h3.team__title Management Team
    ul.team-list
      li.team-list-item.notBack
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Denis Gulagin
          span.team-list-item__post CEO
          span.team-list-item__expost ex-COO at Amaiz Neo Bank UK
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Fyodor Panteleev
          span.team-list-item__post CPO
          span.team-list-item__expost ex-Product Director at LATOKEN
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Alexandra Klimenkova
          span.team-list-item__post Head of Legal
          span.team-list-item__expost ex-Legal at Amaiz Neo Bank UK
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Danil Parnikel
          span.team-list-item__post BizDev
          span.team-list-item__expost ex-??? at Semrush, T&amp;D
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Brendan M. Leddy
          span.team-list-item__post UK Office director
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
    h3.team__title Marketing Team
    ul.team-list
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Irina Kupchenko
          span.team-list-item__post CMO
          span.team-list-item__expost Co-founder m.art agency
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Marina Siradegyan
          span.team-list-item__post Content team lead
          span.team-list-item__expost ex-Content manager at Semrush
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Anton Fatykhov
          span.team-list-item__post Brand communications designer
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Konstantin Pavlov
          span.team-list-item__post Digital marketer
          span.team-list-item__post ex-Digital marketer at Alfaleads
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Dmitry Berchuk
          span.team-list-item__post Marketing Project Manager
          span.team-list-item__post ex-BizDev at Wargaming
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Alisa Topchiy
          span.team-list-item__post Writer, content creator
          span.team-list-item__post ex-Writer at Sunbreeze Visa Agency
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Pavel Elcov
          span.team-list-item__post SMM\community manager
          span.team-list-item__post Ex-cashier at Baskin-Robbins
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
    h3.team__title Product Team
    ul.team-list
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Dmitry Illarionov
          span.team-list-item__post #1 Product Manager
          span.team-list-item__expost ex-Product manager at LATOKEN
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Denis Lavrik
          span.team-list-item__post Product Manager
          span.team-list-item__expost ex-Marketing analytics teamlead at Mail.Ru
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Alina Pravdyukova
          span.team-list-item__post UX Lead
          span.team-list-item__expost ex-Product Designer at Boats.com
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Vadim Bydanov
          span.team-list-item__post UX/UI designer
          span.team-list-item__expost ex- UX/UI Designer at PMPCH
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Oleg Ustimenko
          span.team-list-item__post Analyst
          span.team-list-item__expost ex-Investment advisor at BCS Broker
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Marina Kolosova
          span.team-list-item__post Analyst
          span.team-list-item__expost ex-C++ programmer at simlabs
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Maria Zemlyanaya
          span.team-list-item__post Product Operation Manager
          span.team-list-item__expost ex-Product Manager at Indie Gamedev Team
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
    h3.team__title Development Team
    ul.team-list
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Ivan Gusev
          span.team-list-item__post Android Lead
          span.team-list-item__expost ex-Senior Android developer at Yandex
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Dmitry Laschenov
          span.team-list-item__post Android developer
          span.team-list-item__expost ex-Android developer at iziBook
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Konstantin Shabanov
          span.team-list-item__post iOS Lead
          span.team-list-item__expost ex-iOS developer at Fintuity
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Sofia Kevlia
          span.team-list-item__post iOS developer
          span.team-list-item__expost ex-iOS developer at The Best App
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Kirill Sorokin
          span.team-list-item__post Backend Team lead
          span.team-list-item__expost ex-Backend developer at Tellme Media
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Dmitry Dikarev
          span.team-list-item__post Backend developer
          span.team-list-item__expost ex-Backend developer at Tellme Media
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Dmitry Burnaev
          span.team-list-item__post Backend developer
          span.team-list-item__expost ex-Backend developer at eLama, QMoby
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Dmitry Krinitsyn
          span.team-list-item__post DevOps
          span.team-list-item__expost ex-DevOps at IQ Option
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Julia Kuzmina
          span.team-list-item__post QA
          span.team-list-item__expost ex-QA at IQ Option
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Yaroslav Vinogradov
          span.team-list-item__post QA Automation
          span.team-list-item__expost ex-QA Automation at Quadcode
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Muslimat Ilyasova
          span.team-list-item__post Frontend developer
          span.team-list-item__expost ex-Frontend developer at T.T.Consulting
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
    h3.team__title Development Team
    ul.team-list
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Valentina Pirogova
          span.team-list-item__post Head of Support
          span.team-list-item__expost ex-CEM at Western Union CIS
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Anastasia Udenicheva
          span.team-list-item__post Customer Support Manager
          span.team-list-item__expost ex-Freelance english teacher
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Maksim Antonov
          span.team-list-item__post Customer Support Manager
          span.team-list-item__expost ex-Accountant at Roksot
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Linara Sadykova
          span.team-list-item__post Customer Support Manager
          span.team-list-item__expost ex-Support manager at Grinvich
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Kristina Rozenberg
          span.team-list-item__post Customer Support Manager
          span.team-list-item__expost ex-Freelance SMM manager
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
    h3.team__title Administrative Team
    ul.team-list
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Anna Demchenko
          span.team-list-item__post HRD
          span.team-list-item__expost ex-HR at IQ Option
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Olga Ponomareva
          span.team-list-item__post Office Manager
          span.team-list-item__expost ex-TV channel producer at ???
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
      li.team-list-item
        .team-list-item__face
          .team-list-item-img
          span.team-list-item__title Margarita Ovseenko
          span.team-list-item__post Accountant
          span.team-list-item__expost ex-Accountant at Roksot
        .team-list-item__back
          p.team-list-item__text I create the opportunity to invest conveniently using only your smart phone
