.comiccon-page {
  background-color: #FFFCE0;
  background-image: url(../img/comiccon-back.png);
  background-size: cover;
  min-height: 100vh;
  color: black;
  padding-top: 10px;
  section {
    overflow: hidden;
  }
  .header-logo {
    position: relative;
    z-index: 100;
    .container {
      display: flex;
      justify-content: space-between;
    }
    &__link  {
      width: 112px;
      height: 60px;
      margin-right: 15px;
      .icon{
        width: 100%;
        height: 100%;
      }
    }
    &__app {
      margin-left: 15px;
      font-weight: 500;
      color: black;
    }
  }
  .container {
    max-width: 420px;
  }
  .hidden {
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
}

.comiccon-first {
  color: black;
  padding: 15px;
  position: relative;
  max-height: 519px;

  .container {
    padding: 15px;
    z-index: 2;
    position: relative;
    border: 3px solid #000000;
    &:before, &:after {
      content: "";
      background-image: url(../img/comiccon-first-back.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      opacity: 0.1;
      mix-blend-mode: multiply;
      z-index: 0;
    }
    &:after {
      background: #FFCF25;
      opacity: 1;
      z-index: 0;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 800;
    padding-top: 20px;
    position: relative;
    color: black;
  }
  &__text {
    line-height: 1.5;
    font-weight: 700;
    color: black;
    font-size: 18px;
    letter-spacing: -0.01em;
    margin: 15px 0 0;
    span {
      background: white;
      display: inline-block;
      position: relative;
      z-index: 5;
    }
  }
  &-img {
    width: calc(100% + 30px);
    height: 180px;
    margin-top: -20px;
    img {
      position: absolute;
      object-fit: contain;
      object-fit: contain;
      bottom: -32px;
    }

    img:first-child {
      width: 179px;
      height: 191px;
      left: -20px;
      z-index: 2;
      animation: .5s linear 1s infinite alternate rotate;
    }
    img:last-child {
      width: 274px;
      height: 226px;
      right: -35px;
      z-index: 1;
    }
  }

}

.comiccon-form {
  .comiccon-subscribe {
    display: block;
    margin: 0;
    .subscribe__form {
      background-image: url(../img/comiccon-form-back-blue.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
      padding: 10px;
    }
    .subscribe__form-box {
      margin-top: 0;
    }
    .error-request {
      top: 56px;
      font-weight: 800;
      color: #825f59;
    }
    .success {
      width: 100%;
      color: black;
      display: none;
      justify-content: center;
      margin: 0;
      margin-bottom: 40px;
      height: 112px;
      background-image: url(../img/comiccon-success-back.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left 25px top 0px;
      h3 {
        color: black;
        font-size: 24px;
        line-height: 36px;
        font-weight: 800;
        margin-top: 25px;
        position: relative;
        padding-left: 30px;
        &:before {
          content: "";
          background-image: url(../img/comiccon-success.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 18px;
          height: 14px;
          position:absolute;
          left: 0;
          top: 10px;
          z-index: 5;

        }
      }
    }
    input {
      background: white;
      border-radius: 0;
      border: 3px solid black;
      height: 60px;
      line-height: 60px;
      padding: 0 14px;
      color: black;
      &::placeholder {
        color: #D4D4D4;
      }
    }
    &-btn {
      position: relative;
      margin-left: auto;
      display: block;  
      height: 113px;
      width: 217px;
      position: relative;
      background-image: url(../img/comiccon-btn.png);
      background-size: contain;
      background-repeat: no-repeat;  
      margin-top: 16px;    
      margin-right: -25px;
      .btn {
        border-radius: 0;
        font-weight: 800;
        line-height: 24px;
        font-size: 24px;
        background: transparent;
        color: black;
        width: 100%;
        padding: 0;
        padding-left: 14px;
        height: 55px;
        letter-spacing: -0.01em;
      }
    }
  }
  p {
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: black;
    font-size: 16px;
    width: 188px;
    font-weight: 500;
    margin-top: -40px;
    margin-bottom: 46px;
    a {
      text-decoration: underline;
      font-size: 16px;
    }
  }
}

.comiccon-second  {
  &__title {
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-size: 26px;
    max-width: 197px;
    margin-bottom: 20px;
  }
  &-block  {
    position: relative;
    padding: 15px;
    padding-right: 60px;
    border: 3px solid black;
    &:before, &:after {
      content: "";
      background-image: url(../img/comiccon-first-back.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      opacity: 0.1;
      mix-blend-mode: multiply;
      z-index: 0;
    }
    &:after {
      background: #F1B8FF;
      opacity: 1;
      z-index: 0;
    }
    &:last-child {
      margin-top: 20px;
      padding-right: 15px;
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    span {
      font-weight: 800;
    }
  }
  &-list {
    li {
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 1.4;
      letter-spacing: -0.01em;
      color: black;
      font-weight: 500;
      position: relative;
      z-index: 2;
      padding-left: 20px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid black;
        background: white;
      }
      &:first-child {
        max-width: 159px;
        &:after {
          content: "";
          background-image: url(../img/comiccon-symbol.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 159px;
          height: 159px;
          position: absolute;
          bottom: -20px;
          left: 100%;
          animation: .4s linear 1s infinite alternate zoom;

        }
      }
      &:last-child {
        margin-bottom: 10px;
      }

    }
  }
}

.comiccon-footer {
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 17px;
  &-list {
    list-style: circle; 
    color: black;
    font-size: 14px;
    line-height: 1.4;
  }
}

@keyframes rotate { 
  0% { 
    transform:rotate(0deg) 
  } 
  50% {
    transform:rotate(-7deg) 
  }
  100% { 
    transform:rotate(0deg) 
  } 
}

@keyframes zoom { from { transform:scale(1) } to{ transform:scale(1.1) } }