section.comiccon-first 
  .container
    h1.comiccon-first__title Hey cosplayer! 
      br
      | How’s your con?
    p.comiccon-first__text Leave your email address, and we will cover your Comic Con London ticket cost in stock worth from&nbsp;
      span £18 to £200! 
      | &nbsp;Have a nice shindig!
    .comiccon-first-img  
      img(src="img/comiccon-yell.png", alt="Comic Con 2021")
      img(src="img/comiccon-girl.png", alt="Comic Con 2021")
