footer.comiccon-footer
  .container
    ul.comiccon-footer-list
      li &#8226;&nbsp;The ticket may not be fully compensated because the cost of participation on Saturday is different from Friday. But the minimum compensation is from £18.
      li &#8226;&nbsp;Capital at risk
