section.comiccon-form.comiccon-form-2
  h2.hidden Comiccon form 
  .container 
    .subscribe.comiccon-subscribe#subscribe
      .subscribe__form
        form(action="#" method="post").subscribe__form-box.js-validate-form
          input(type="tel" placeholder="loki@gmail.com" name="phone")
          .comiccon-subscribe-btn
            button(type="subscribe").btn.btn-primary Send!
    .comiccon-form-agree 
      img(src="img/comiccon-yeah.png", alt="") 
      p By continuing you agree with&nbsp;
        a(href="") Orca privacy policy