section.comiccon-second 
  .container
    h2.comiccon-second__title How to receive a free stock?
    .comiccon-second-block 
      ul.comiccon-second-list
        li Leave your email in the form above
        li You’ll get the instructions and a promo code to compensate
        li After the conditions have been met, you’ll receive your free stock 
          span worth from £18 to £200*