.main-invite {
  margin: 80px 0;
  @include media($TABLET) {
    margin: 40px 0 80px;
  }
  &__content {
    background: #171717;
    padding: 30px 16px;
    border-radius: 15px;
    @include media($TABLET) {
      padding: 45px;
      padding-left: 10px;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(3, auto) 0;
    }
    @include media($HD) {
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(4, auto);
      padding-bottom: 0;
    }
  }
  &-img {
    width: 100%;
    text-align: center;
    @include media($TABLET) {
      grid-area: 1 / 1 / 5 / 2;
    }
    img {
      width: 100%;
      max-width: 420px;
      @include media($TABLET) {
        max-width: 351px;
      }
      @include media($DESKTOP) {
        margin-top: -100px;
        max-width: 504px;
      }
    }
  }
  &__title {
    font-size:  Gilroy, sans-serif;
    line-height: 1.1;
    font-size: 28px;
    margin-bottom: 10px;
    @include media($TABLET) {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    @include media($DESKTOP) {
      font-size: 48px;
    }
  }
  &__text {
    p {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.6;
      @include media($TABLET) {
        font-size: 16px;
      }
      @include media($DESKTOP) {
        font-size: 18px;
      }
    }
    &_green {
      color: $mainColor;
      font-weight: 600;
    }
  }
  .btn {
    width: 100%;
    background: white;
    color: black;
    border: none;
    margin-top: 10px;
    @include media($TABLET) {
      width: 200px;
      padding: 0 50px;
    }
  }
}
