section.main-reviews
  .container
    h2.main-reviews__title Trustpilot
      +icon('trustpilot')
    ul.main-reviews-list
      li.main-reviews-list-item
        span.main-reviews-list-item__title Michael Sinner
        ul.main-reviews-list-item__stars
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
        p.main-reviews-list-item__text BEST APP OUT THERE. Very helping customer services, easy to understand, smooth and clean look. Not a bad word to say, join now.
      li.main-reviews-list-item
        span.main-reviews-list-item__title Jason Bennetts
        ul.main-reviews-list-item__stars
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
        p.main-reviews-list-item__text One of the best trading apps around I was in alphia testing and they was helpful they toke alot of feedback
      li.main-reviews-list-item
        span.main-reviews-list-item__title Joshua Smith
        ul.main-reviews-list-item__stars
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
          li
            +icon('star')
        p.main-reviews-list-item__text Excellent application! Fabulous customer service
    ul.main-partners-list
      li
        img(src="img/bloomberg.svg", alt="bloomberg")
      li
        img(src="img/yahoo.png", alt="yahoo")
      li
        img(src="img/marketWatch.svg", alt="market Watch")
      li
        img(src="img/financialIt.svg", alt="Financial It")
      li
        img(src="img/loveBusiness.svg", alt="London Love Business")
