section.main-faq
  .container
    h2.main-faq__title  Frequently Asked Questions
    p.main-faq__text Here are the most common questions we receive about ISA transfer rules.
    ul.faq-list
      li.faq-list-item
        .faq-list-item-top
          button.faq-list-item__btn open
          h3.faq-list-item__title Can I transfer my cash ISA to an Orca stocks and shares ISA?
        p.faq-list-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio arcu suspendisse eu ligula id. Nisi quam congue facilisi turpis nibh euismod. Nibh porttitor ut justo tellus aliquam malesuada tellus fermentum nullam. Morbi consectetur sit...
      li.faq-list-item
        .faq-list-item-top
          button.faq-list-item__btn open
          h3.faq-list-item__title Can I transfer my cash ISA to an Orca stocks and shares ISA?
        p.faq-list-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio arcu suspendisse eu ligula id. Nisi quam congue facilisi turpis nibh euismod. Nibh porttitor ut justo tellus aliquam malesuada tellus fermentum nullam. Morbi consectetur sit...
      li.faq-list-item
        .faq-list-item-top
          button.faq-list-item__btn open
          h3.faq-list-item__title Can I transfer my cash ISA to an Orca stocks and shares ISA?
        p.faq-list-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio arcu suspendisse eu ligula id. Nisi quam congue facilisi turpis nibh euismod. Nibh porttitor ut justo tellus aliquam malesuada tellus fermentum nullam. Morbi consectetur sit...


