header.header-main
  .container 
    a.header-main-logo(href="./")  
      +icon('logotype')
    nav
      ul.header-main-menu
        li.header-main-menu-item 
          a(href="./") Home
        li.header-main-menu-item  
          a(href="") ISA
        li.header-main-menu-item           
          a(href="") Help Centre
        li.header-main-menu-item 
          a(href="") Roadmap
    a.btn.btn-primary(href="#subscribe") Join Orca
    button.header-main-btn Open
      i
      i 
      i
      