section.main-banner
  .container
    .main-banner-content
      h2.main-banner-content__title Learn and invest
      p.main-banner-content__text Doing anything new
        span.main-banner-content__text_green can be easy
        | , if you understand it. On the Orca app, you’ll find&nbsp;
        span.main-banner-content__text_green lots of educational content
        | , written in plain English, to help you come to grips with the world of investment and &nbsp;
        span.main-banner-content__text_green apply your knowledge straight away
        | .
      button.btn.btn-primary Try it out!
