section.main-invite
  .container
    .main-invite__content
      h2.main-invite__title Invite friends and get free shares!
      .main-invite__text
        p We want everyone to get a flavour of investment!
          br
          | Invite your friends, colleagues and family to join Orca.
        p Share your referral code with others, encourage them to
          span.main-invite__text_green open a GIA
          | and invest in any
          span.main-invite__text_green 3 assets
          | . And your referrals will receive a random
          span.main-invite__text_green free stock worth up to £200.
      picture.main-invite-img
        source(srcset="img/main-invite-img-desktop.png" media="(min-width: 600px)")
        img(src="img/main-invite-img.png", alt="Invite friends and get free shares!")
      a.btn.btn-primary(href="") Invite firends!

