section.main-banner
  .container
    ul.main-banner-list
      li.main-banner-list-item.invest-low
        .main-banner-content
          h2.main-banner-content__title Invest low
          p.main-banner-content__text Who said investing was only for wealthy people? Open an&nbsp;
            span.main-banner-content__text_green always-free ISA,
            | start investing in&nbsp;
            span.main-banner-content__text_green fractional US shares from only £1
            | , and invest in American stocks and shares&nbsp;
            span.main-banner-content__text_green without commission&nbsp;
            | (coming this autumn). And, of course, invest in UK stocks and ETFs for a fee of just £1.
          button.btn.btn-primary Try it out!
      li.main-banner-list-item.learn-invest
        .main-banner-content
          h2.main-banner-content__title Learn and invest
          p.main-banner-content__text Doing anything new
            span.main-banner-content__text_green can be easy
            | , if you understand it. On the Orca app, you’ll find&nbsp;
            span.main-banner-content__text_green lots of educational content
            | , written in plain English, to help you come to grips with the world of investment and &nbsp;
            span.main-banner-content__text_green apply your knowledge straight away
            | .
          button.btn.btn-primary Try it out!



