section.main-first
  .container
    .main-first__content
      h1.main-first__title Investment everybody wants
      p.main-first__text Evolve as a long-term investor and leverage the full potential of your savings in a simple and intuitive manner.
    .main-first-image
      span.main-first-image__text.sunglasses Comission free US investing
      span.main-first-image__text.partying Forever free ISA
      span.main-first-image__text.nice Small-scale start
      span.main-first-image__text.relieved Fractional US shares
      span.main-first-image__text.nerd All experience friendly


