section.main-banner
  .container
    .main-banner-content
      h2.main-banner-content__title Be in the know
      p.main-banner-content__text Stay notified about investment price movements with
        span.main-banner-content__text_green live market data
        | and instant&nbsp;
        span.main-banner-content__text_green price alerts
        | . Get detailed insights into your portfolio, read the &nbsp;
        span.main-banner-content__text_green latest news
        | , gather
        span.main-banner-content__text_green analytics
        | , and compare stocks to each other.
      button.btn.btn-primary Try it out!
