section.main-reliability
  .container
    h2.main-reliability__title Reliability is everything
    ul.main-reliability-list
      li.main-reliability-list-item
        +icon('bag')
        span.main-reliability-list-item__title Your money is you money
        p.main-reliability-list-item__text We don't use your money to cover our expenses. We don't use your money for any trading activity. We don’t even have access to it.
      li.main-reliability-list-item
        +icon('isa')
        span.main-reliability-list-item__title ISA support
        p.main-reliability-list-item__text Orca partners with ISA/GIA providers in the UK, so you can open an ISA account right in the app and rest assured that it is valid and meets all British requirements.
      li.main-reliability-list-item
        +icon('bag')
        span.main-reliability-list-item__title FSCS protection
        p.main-reliability-list-item__text In case of insolvency, your funds are protected for up to £85,000. That means that you are always able to withdraw your money, no matter what.
      li.main-reliability-list-item
        +icon('bag')
        span.main-reliability-list-item__title Data and account security
        p.main-reliability-list-item__text We don't share data with third parties without your consent. In addition, our biometric protection and additional verification tools ensure nobody but you will be able to access your funds.


