section.main-form
  h2.main-form__title Start investing with Orca in seconds.
  .container
    .subscribe.main-subscribe#subscribe
      .subscribe__form
        .subscribe__form-label
          span Whale&nbsp;
          | send you a direct link to the app.
        form(action="#" method="post").subscribe__form-box.js-validate-form
          .subscribe__input-placeholder +44
          input(type="tel" placeholder="" name="phone")
          button(type="subscribe").btn.btn-primary Text Me a Link
