section.main-banner
  .container
    .main-banner-content
      h2.main-banner-content__title Diversify smartly
      p.main-banner-content__text Explore&nbsp;
        span.main-banner-content__text_green over 500 UK and US stocks and ETFs&nbsp;
        | in dedicated collections and lists, follow them on your&nbsp;
        span.main-banner-content__text_green Watchlist&nbsp;
        | , monitor their performance and make well-thought-out decisions on what to invest in!
      button.btn.btn-primary Try it out!
