section.main-security
  .container
    h2.main-security__title Main security
    ul.main-security-list
      li
        +icon('risk_save')
        p Orca App Ltd is an appointed representative of RiskSave Technologies Ltd which is authorised and regulated by the Financial Conduct Authority (FRN: 775330).
      li
        +icon('fscs')
        p Your money is protected up to £85,000 by the FSCS scheme. If Orca App Ltd is declared to be in default and cannot meet its obligations, you may be able to claim compensation. The FSCS doesn’t cover losses in the event the value of your investments go down. Your capital is at risk. See the FSCS website for further details.


