section.main-adventages
  .container
    h2.main-adventages__title Main Advantages
    ul.main-adventages-list
      li.main-adventages-list-item
        +icon('octagon')
        span.main-adventages-list-item__title Smart Stop Loss
        p.main-adventages-list-item__text Protect your investment from losses
      li.main-adventages-list-item
        +icon('clock')
        span.main-adventages-list-item__title Smart Stop Loss
        p.main-adventages-list-item__text Protect your investment from losses
      li.main-adventages-list-item
        +icon('message-square')
        span.main-adventages-list-item__title Smart Stop Loss
        p.main-adventages-list-item__text Protect your investment from losses
