section.whiteorca-smart
  .container.container--1120
    h2.whiteorca-smart__title Start&nbsp;
      span.main small
    p Start with cupcakes, remember? We’ll get to the big cake eventually.
    p How do we apply this to investing? Well, firstly, you need to say “no” to a cup of coffee and your favourite dessert. Don’t worry—you’ll only need to make this sacrifice once to save £10 for investment.
    ul.whiteorca-smart-list
      li
        img(src="img/o_pie.png", alt="cupcake")
      li
        img(src="img/o_pie-2.png", alt="cupcake")
      li
        img(src="img/o_pie-3.png", alt="cupcake")
      li
        img(src="img/o_pie-4.png", alt="cupcake")
    p Let’s say the company you invested in last year has grown by 30% since then. It turns out that you’ve made a £3 profit. Okay, not much, but we’re starting small, remember? If you can invest £10 every month, the potential profit will be higher.
    p But remember: if you invest £10, you could get £3; if you don’t invest anything, you’ll definitely end up with £0.
    .whiteorca-smart-banner
      h3.whiteorca-smart-banner__title So,&nbsp;
        span.main what’s up&nbsp;
        | with the lingo?
      p Are you ready to be on the same wavelength with your friends who are already investing? You sure? No doubts?
        br
        | Okay, okay, let’s do this!

