section.whiteorca-guide
  .container.container--1120
    h2.whiteorca-guide__title Can I say that now I’m a goddamn 
      span.main investment genius?
    p Well, you’re certainly on the way to that. You already know what stocks and ETFs are, and can invest with minimum risks. Of course, you need to practice a bit, and we can help you with that as well.
    p 
      a(href="") Download 
      | &nbsp;the Orca investment app, 
      span.main open an account using the code “ORCAGUIDE” 
      | and get a free stock 
      span.main up to £200 
      | to start investing!
    img.whiteorca-guide__img(src="/img/whiteorca-guide.png", alt="Divide and rule...")
    .whiteorca-guide__bottom
      p Cool, right?
      p Taste investment and 
        span.main start your journey to the brighter future 
        | with Orca.
      p Good luck—and bon appétit.