section.whiteorca-divide
  .container.container--1120
    h2.whiteorca-divide__title 
      span.main Divide 
      | and rule...
    p ...or better, diversify and rule. One more thing that can help you reduce risks and live a happy investment life is diversification. Coming back to the cake example, to diversify means to buy not only cakes, but also croissants, donuts, chocolates, and lots more. That way, if cakes lose their popularity, you will still have the rest. You’ll have a plan B.
    img.whiteorca-divide__img(src="/img/whiteorca-divide.png", alt="Divide and rule...")
    p Diversification of your portfolio basically means that, to reduce risks, you should buy different types of assets from different fields. For instance, stocks of some tourism companies have fallen during the pandemic, but at the same time, stocks of pharmaceutical companies have risen. If you invested in companies from those fields, you wouldn’t lose everything, and your profit from pharmaceutical stocks will cover losses from tourism stocks. Magic!