section.whiteorca-etfs
  .container.container--1120
    h2.whiteorca-etfs__title ETFs..
    p Okay, if a stock is a piece of cake, then an ETF is a taster plate of different cakes. ETFs consist of the shares of several companies collected according to a specific principle. They are traded on the exchange like ordinary stocks, but reflect the change in the price of the stocks of the companies that are included in them.
    p You can choose individual stocks by yourself, and at the beginning, you might make some mistakes. With ETFs, you also can choose by yourself, but the main difference here is that you are relying in part on the selection of the experienced professional investors who collected those funds.
    img.whiteorca-etfs__img(src="/img/whiteorca-etfs.png", alt="ETFs")