section.whiteorca-lose
  .container.container--1120
    h2.whiteorca-lose__title But what if I lose 
      span.main everything?!
    p Okay, look, life is risky, isn’t it? Well, investment is also risky, but there’s no need to be a drama queen, as there are ways to minimise those risks.
    p Before buying stocks, read the company’s statistics for the last number of years. It could be that its shares are growing now due to some unique circumstances, but it won’t be long before the situation changes. That’s why you need to analyse the company.
    p On the Orca app, you’ll find key information about each company. Before buying an asset, you can check the company's revenue growth per annum, dividend yield and other useful statistics. There’s also a News section for you to get all the up-to-date information and lower your investment risks. 