section.whiteorca-stocks
  .container.container--1120
    h2.whiteorca-stocks__title Stocks…
    img.whiteorca-stocks__img(src="/img/whiteorca-stocks.png", alt="Stocks")
    p Let’s return to the cakes. 
    p Once upon a time, there lived a man who made delicious cakes. And those cakes belonged only to him. But one day, he decided to share a piece of cake with his friend, who from that time on, became an owner of that piece of cake (although not for so long, as he ate it immediately).
    p Now, let’s look at companies. A company can be seen as a big cake cut into pieces, and anybody can buy a piece if they want. Those pieces are basically stocks, and you can buy them on the stock exchange.