section.whiteorca-first
  .container.container--1120
    h1.whiteorca-first__title The Orca guide
      br
      | to&nbsp;
      span.main delicious investment
    picture.whiteorca-first-img
      source(srcset="img/whiteorca-first.png" media="(min-width: 768px)")
      img(src="img/whiteorca-first-mobile.png", alt="The Orca guide to delicious investment")
    p Hey hey! You’ve decided to read our guide! Well done! We propose celebrating with something sweet. So, make a cup of tea, serve up your favourite dessert, and let’s get started!
    p Oh, wait! One more thing. You’ll need an investment app first.&nbsp;
      span.main Download the Orca app using&nbsp;
      a(href="") this link
      | , set up your account — and let’s go!

